In [61]:
# from helper_functions.tourney_sim import simulate_tournament
import os
import numpy as np
import pickle
from tqdm import tqdm
import pandas as pd

In [127]:
all_lists = []
for f in os.listdir('brackets'):
        with open('brackets/{}'.format(f), 'rb') as file:
            data=pickle.load(file)
        if f == '100_sim_dict_3.pickle':
            all_lists += list(data.values())

In [128]:
brackets_series = pd.Series(all_lists)

In [129]:
df=pd.DataFrame(all_lists)
for c in df.columns:
    vc=df[c].value_counts()
    print('{}: {}%'.format(vc.index[0],np.round((vc.iloc[0]/len(df))*100,2)))

UConn: 84.74%
Fla. Atlantic: 79.88%
San Diego St.: 85.83%
Auburn: 81.27%
BYU: 76.21%
Illinois: 62.83%
Washington St.: 67.0%
Iowa St.: 84.64%
North Carolina: 88.11%
Michigan St.: 53.52%
Saint Mary's (CA): 68.38%
Alabama: 51.44%
Clemson: 77.8%
Baylor: 69.77%
Dayton: 70.37%
Arizona: 82.16%
Houston: 56.49%
Nebraska: 56.59%
James Madison: 51.64%
Duke: 71.66%
Texas Tech: 78.0%
Kentucky: 69.97%
Boise St.: 62.64%
Marquette: 83.85%
Purdue: 91.97%
Utah St.: 74.53%
Gonzaga: 58.37%
Kansas: 61.94%
South Carolina: 56.99%
Creighton: 80.48%
Texas: 77.5%
Tennessee: 73.93%
UConn: 70.47%
San Diego St.: 54.21%
BYU: 56.1%
Washington St.: 37.46%
North Carolina: 65.01%
Saint Mary's (CA): 53.62%
Clemson: 50.94%
Dayton: 51.73%
Houston: 38.06%
Duke: 34.69%
Texas Tech: 54.91%
Boise St.: 41.82%
Purdue: 64.72%
Gonzaga: 46.78%
Creighton: 39.94%
Texas: 51.44%
UConn: 55.8%
BYU: 42.22%
North Carolina: 39.74%
Dayton: 28.15%
Duke: 20.32%
Texas Tech: 35.68%
Purdue: 42.42%
Creighton: 36.27%
UConn: 45.39%
North Carolina: 26.26%
Duke: 15.86%
Purdue: 33.7%
UConn: 30.62%
Purdue: 13.88%
UConn: 23.69%

In [132]:
df[30].value_counts()

30
Texas       782
Virginia    227
Name: count, dtype: int64

In [87]:
df[df.columns[-15:]].duplicated().value_counts()

False    5895
True       25
Name: count, dtype: int64

In [83]:

dup_df = df[df[list(np.arange(32))].duplicated(keep=False)==True][list(np.arange(32))].copy()
dup_df_end = df[df[df.columns[-15:]].duplicated(keep=False)==True][df.columns[-15:]].copy()

In [71]:
li=[]

for i in range(len(dup_df)):
    current_row = dup_df.iloc[i]
    current_list = '--'.join(list(current_row))
    li.append(current_list)

In [88]:
li2=[]
for i in range(len(dup_df_end)):
    current_row = dup_df_end.iloc[i]
    current_list = '--'.join(list(current_row))
    li2.append(current_list)

In [72]:
other_li = []
for thing in pd.Series(li).value_counts().index:
    other_li.append(thing.split('--'))

In [89]:
other_li_2 = []
for thing in pd.Series(li2).value_counts().index:
    other_li_2.append(thing.split('--'))

In [92]:
pd

                                                   0
0  UConn--BYU--North Carolina--Dayton--Vermont--T...

In [125]:
pd.Series(li2).value_counts().head(4)

UConn--BYU--North Carolina--Dayton--Houston--Texas Tech--Purdue--South Carolina--UConn--North Carolina--Houston--Purdue--UConn--Houston--UConn     4
UConn--BYU--North Carolina--Dayton--Vermont--Boise St.--Purdue--South Carolina--UConn--North Carolina--Boise St.--Purdue--UConn--Purdue--Purdue    3
UConn--BYU--North Carolina--Dayton--Vermont--Marquette--Purdue--South Carolina--UConn--North Carolina--Vermont--Purdue--UConn--Purdue--Purdue      3
UConn--BYU--North Carolina--Dayton--Vermont--Boise St.--Purdue--Texas--UConn--North Carolina--Boise St.--Purdue--UConn--Purdue--Purdue             3
Name: count, dtype: int64

In [26]:
pd.set_option('display.max_columns', 70)

In [56]:
small_df = df[list(np.arange(32))].copy()

In [58]:
small_df[small_df.duplicated()==True].sort_values(by=list(np.arange(32)))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
629,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2589,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2569,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,NC State,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2438,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2206,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Nevada,Arizona,Longwood,Nebraska,Wisconsin,Duke,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,Oregon,Creighton,Texas,Saint Peter's
1970,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,Wisconsin,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2242,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,Wisconsin,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
1638,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Col. of Charleston,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,South Carolina,Creighton,Texas,Tennessee
2547,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Col. of Charleston,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,South Carolina,Creighton,Texas,Tennessee
2656,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Col. of Charleston,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Samford,South Carolina,Creighton,Texas,Tennessee
2012,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Mississippi St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Nevada,Arizona,Longwood,Nebraska,Wisconsin,Duke,Texas Tech,Kentucky,Florida,Marquette,Purdue,Utah St.,McNeese,Samford,Oregon,Creighton,Texas,Tennessee
2513,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Morehead St.,Washington St.,Iowa St.,North Carolina,Mississippi St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Dayton,Arizona,Longwood,Nebraska,Wisconsin,Duke,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,Oregon,Creighton,Texas,Tennessee

In [98]:
#fau vs nw
np.random.choice(df[1])

'Fla. Atlantic'

In [99]:
#sdsu vs uab
np.random.choice(df[2])

'San Diego St.'

In [101]:
#auburn yale
np.random.choice(df[3])

'Auburn'

In [103]:
#ill morehead
np.random.choice(df[5])

'Illinois'

In [104]:
#waz drake
np.random.choice(df[6])

'Washington St.'

In [105]:
#iowa dakota
np.random.choice(df[7])

'South Dakota St.'

In [106]:
for i in range(len(df.columns)):
    print(np.random.choice(df[i]))

UConn
Fla. Atlantic
San Diego St.
Auburn
BYU
Illinois
Washington St.
Iowa St.
North Carolina
Michigan St.
Saint Mary's (CA)
Alabama
New Mexico
Colgate
Dayton
Arizona
Longwood
Nebraska
Wisconsin
Vermont
Texas Tech
Kentucky
Boise St.
Western Ky.
Purdue
Utah St.
McNeese
Samford
South Carolina
Creighton
Texas
Tennessee
Fla. Atlantic
Yale
Duquesne
Iowa St.
North Carolina
Saint Mary's (CA)
Clemson
Dayton
Texas A&M
Duke
NC State
Boise St.
Purdue
McNeese
Creighton
Texas
Fla. Atlantic
BYU
Michigan St.
Colgate
Wisconsin
Florida
Purdue
Texas
Auburn
Saint Mary's (CA)
Marquette
Utah St.
Washington St.
Duke
James Madison

In [28]:
df[(df[0]=='UConn')&(df[1]=='Fla. Atlantic')][32].value_counts()

32
UConn            2783
Fla. Atlantic     642
Name: count, dtype: int64

In [29]:
df[(df[2]=='San Diego St.')&(df[3]=='Auburn')][33].value_counts()

33
San Diego St.    2256
Auburn           1118
Name: count, dtype: int64

In [108]:
# np.random.choice(df[(df[2]=='San Diego St.')&(df[3]=='Auburn')][33])

In [30]:
df[(df[4]=='BYU')&(df[5]=='Illinois')][34].value_counts()

34
BYU         1717
Illinois     596
Name: count, dtype: int64

In [31]:
df[(df[6]=='Washington St.')&(df[7]=='Iowa St.')][35].value_counts()

35
Washington St.    1594
Iowa St.          1165
Name: count, dtype: int64

In [111]:
# np.random.choice(df[(df[6]=='Washington St.')&(df[7]=='South Dakota St.')][35])

In [32]:
df[(df[8]=='North Carolina')&(df[9]=='Michigan St.')][36].value_counts()

36
North Carolina    1635
Michigan St.       580
Name: count, dtype: int64

In [33]:
df[(df[10]=="Saint Mary's (CA)")&(df[11]=='Col. of Charleston')][37].value_counts()

37
Saint Mary's (CA)     1166
Col. of Charleston     532
Name: count, dtype: int64

In [114]:
# np.random.choice(df[(df[10]=="Saint Mary's (CA)")&(df[11]=='Alabama')][37])

In [34]:
df[(df[12]=='Clemson')&(df[13]=='Colgate')][38].value_counts()

38
Clemson    913
Colgate    266
Name: count, dtype: int64

In [115]:
df[(df[12]=='New Mexico')&(df[13]=='Colgate')][38].value_counts()

38
New Mexico    219
Colgate       132
Name: count, dtype: int64

In [35]:
df[(df[14]=='Dayton')&(df[15]=='Arizona')][39].value_counts()

39
Dayton     2034
Arizona     804
Name: count, dtype: int64

In [116]:
i=16
j=17
k=40
print(df[(df[i]=='Houston')&(df[j]=='Texas A&M')][k].value_counts())
i+=2
j+=2
k+=1

40
Houston      942
Texas A&M    519
Name: count, dtype: int64

In [57]:
i-=2
j-=2
k-=1

In [123]:
print(df[(df[i]=='Texas')&(df[j]=="Tennessee")][k].value_counts())
i+=2
j+=2
k+=1

47
Texas        2267
Tennessee    1125
Name: count, dtype: int64

In [ ]:
UConn--BYU--North Carolina--Dayton--Houston--Texas Tech--Purdue--South Carolina--UConn--North Carolina--Houston--Purdue--UConn--Houston--UConn     4
UConn--BYU--North Carolina--Dayton--Vermont--Boise St.--Purdue--South Carolina--UConn--North Carolina--Boise St.--Purdue--UConn--Purdue--Purdue    3
UConn--BYU--North Carolina--Dayton--Vermont--Marquette--Purdue--South Carolina--UConn--North Carolina--Vermont--Purdue--UConn--Purdue--Purdue      3
UConn--BYU--North Carolina--Dayton--Vermont--Boise St.--Purdue--Texas--UConn--North Carolina--Boise St.--Purdue--UConn--Purdue--Purdue             3
Name: count, dtype: int64