In [1]:
from helper_functions.tourney_sim import simulate_tournament
import os
import numpy as np
import pickle
from tqdm import tqdm
import pandas as pd

WARNING:tensorflow:From C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

100%|██████████| 1378/1378 [00:11<00:00, 115.96it/s]

In [11]:
with open('brackets/100_sim_dict.pickle', 'rb') as file:
    d1=pickle.load(file)

In [10]:
with open('brackets/1000_sim_dict.pickle', 'rb') as file:
    d2=pickle.load(file)

In [26]:
all_lists = list(list(d1.values()) + list(d2.values()))

In [27]:
brackets_series = pd.Series(all_lists)

In [32]:
pd.DataFrame(all_lists)

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,Stetson,Fla. Atlantic,UAB,Yale,Duquesne,Morehead St.,Washington St.,Iowa St.,Howard,Michigan St.,...,Texas Tech,Purdue,Oregon,Yale,Howard,Vermont,Oregon,Yale,Vermont,Yale
1,UConn,Northwestern,San Diego St.,Auburn,Duquesne,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,...,Boise St.,Gonzaga,South Carolina,UConn,Baylor,James Madison,Gonzaga,UConn,Gonzaga,UConn
2,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,...,Boise St.,Purdue,South Carolina,UConn,New Mexico,Boise St.,Purdue,UConn,Boise St.,UConn
3,UConn,Fla. Atlantic,San Diego St.,Auburn,Duquesne,Illinois,Washington St.,South Dakota St.,North Carolina,Michigan St.,...,Texas Tech,Utah St.,Texas,Washington St.,Michigan St.,Texas Tech,Texas,Washington St.,Texas,Washington St.
4,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Morehead St.,Washington St.,Iowa St.,Howard,Michigan St.,...,Kentucky,McNeese,Creighton,BYU,Col. of Charleston,Nebraska,Creighton,BYU,Creighton,Creighton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,UConn,Northwestern,UAB,Auburn,BYU,Morehead St.,Washington St.,Iowa St.,North Carolina,Mississippi St.,...,NC State,Utah St.,Texas,UConn,Alabama,Texas A&M,Utah St.,Alabama,Texas A&M,Alabama
2712,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Morehead St.,Washington St.,Iowa St.,Howard,Mississippi St.,...,Texas Tech,Purdue,Oregon,BYU,New Mexico,James Madison,Purdue,BYU,James Madison,BYU
2713,Stetson,Fla. Atlantic,San Diego St.,Yale,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Mississippi St.,...,NC State,Kansas,Tennessee,BYU,North Carolina,NC State,Kansas,BYU,Kansas,BYU
2714,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,Howard,Mississippi St.,...,Kentucky,McNeese,Oregon,BYU,Grand Canyon,Kentucky,McNeese,BYU,McNeese,McNeese
2715,UConn,Fla. Atlantic,UAB,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,...,Kentucky,Samford,Creighton,UConn,Michigan St.,James Madison,Samford,UConn,James Madison,UConn

In [41]:
df=pd.DataFrame(all_lists)
for c in df.columns:
    vc=df[c].value_counts()
    print('{}: {}%'.format(vc.index[0],np.round((vc.iloc[0]/len(df))*100,2)))

UConn: 84.32%
Fla. Atlantic: 81.19%
San Diego St.: 83.62%
Auburn: 80.67%
BYU: 73.93%
Illinois: 63.0%
Washington St.: 66.68%
Iowa St.: 83.58%
North Carolina: 86.16%
Michigan St.: 50.22%
Saint Mary's (CA): 69.99%
Col. of Charleston: 50.04%
Clemson: 76.36%
Baylor: 70.69%
Dayton: 69.48%
Arizona: 82.99%
Houston: 55.56%
Nebraska: 59.43%
James Madison: 51.69%
Duke: 70.77%
Texas Tech: 78.06%
Kentucky: 69.73%
Boise St.: 62.78%
Marquette: 82.99%
Purdue: 91.16%
Utah St.: 72.94%
Gonzaga: 60.75%
Kansas: 63.55%
South Carolina: 60.49%
Creighton: 83.36%
Texas: 78.2%
Tennessee: 72.39%
UConn: 69.81%
San Diego St.: 54.82%
BYU: 54.34%
Washington St.: 39.51%
North Carolina: 63.59%
Saint Mary's (CA): 54.23%
Clemson: 49.3%
Dayton: 50.11%
Houston: 36.01%
Duke: 33.1%
Texas Tech: 53.83%
Boise St.: 43.08%
Purdue: 66.79%
Gonzaga: 47.24%
Creighton: 44.88%
Texas: 53.39%
UConn: 55.85%
BYU: 40.65%
North Carolina: 39.87%
Clemson: 27.95%
Duke: 18.26%
Texas Tech: 36.08%
Purdue: 41.97%
Creighton: 40.43%
UConn: 47.05%
North Carolina: 28.02%
Duke: 14.06%
Purdue: 32.77%
UConn: 32.99%
Purdue: 13.84%
UConn: 26.18%

In [73]:

dup_df = df[df[list(np.arange(32))].duplicated(keep=False)==True][list(np.arange(32))].copy()

In [76]:
li=[]

for i in range(len(dup_df)):
    current_row = dup_df.iloc[i]
    current_list = '--'.join(list(current_row))
    li.append(current_list)

In [80]:
other_li = []
for thing in pd.Series(li).value_counts().index:
    other_li.append(thing.split('--'))

In [88]:
pd.DataFrame(other_li).head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee

In [108]:
pd.DataFrame(other_li)[31].value_counts()

31
Tennessee        8
Saint Peter's    1
Name: count, dtype: int64

In [54]:
pd.set_option('display.max_columns', 70)

In [56]:
small_df = df[list(np.arange(32))].copy()

In [58]:
small_df[small_df.duplicated()==True].sort_values(by=list(np.arange(32)))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
629,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2589,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2569,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Grand Canyon,Alabama,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,NC State,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2438,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2206,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Nevada,Arizona,Longwood,Nebraska,Wisconsin,Duke,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,Oregon,Creighton,Texas,Saint Peter's
1970,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,Wisconsin,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
2242,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Alabama,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,Wisconsin,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Kansas,South Carolina,Creighton,Texas,Tennessee
1638,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Col. of Charleston,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,South Carolina,Creighton,Texas,Tennessee
2547,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Col. of Charleston,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,South Carolina,Creighton,Texas,Tennessee
2656,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Michigan St.,Saint Mary's (CA),Col. of Charleston,Clemson,Colgate,Dayton,Arizona,Houston,Texas A&M,James Madison,Vermont,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,McNeese,Samford,South Carolina,Creighton,Texas,Tennessee
2012,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Illinois,Washington St.,Iowa St.,North Carolina,Mississippi St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Nevada,Arizona,Longwood,Nebraska,Wisconsin,Duke,Texas Tech,Kentucky,Florida,Marquette,Purdue,Utah St.,McNeese,Samford,Oregon,Creighton,Texas,Tennessee
2513,UConn,Fla. Atlantic,San Diego St.,Auburn,BYU,Morehead St.,Washington St.,Iowa St.,North Carolina,Mississippi St.,Saint Mary's (CA),Alabama,Clemson,Baylor,Dayton,Arizona,Longwood,Nebraska,Wisconsin,Duke,Texas Tech,Kentucky,Boise St.,Marquette,Purdue,Utah St.,Gonzaga,Kansas,Oregon,Creighton,Texas,Tennessee

In [110]:
df[(df[0]=='UConn')&(df[1]=='Fla. Atlantic')][32].value_counts()

32
UConn            1534
Fla. Atlantic     345
Name: count, dtype: int64

In [114]:
df[(df[2]=='San Diego St.')&(df[3]=='Auburn')][33].value_counts()

33
San Diego St.    1223
Auburn            636
Name: count, dtype: int64

In [115]:
df[(df[4]=='BYU')&(df[5]=='Illinois')][34].value_counts()

34
BYU         937
Illinois    344
Name: count, dtype: int64

In [116]:
df[(df[6]=='Washington St.')&(df[7]=='Iowa St.')][35].value_counts()

35
Washington St.    883
Iowa St.          652
Name: count, dtype: int64

In [118]:
df[(df[8]=='North Carolina')&(df[9]=='Michigan St.')][36].value_counts()

36
North Carolina    890
Michigan St.      316
Name: count, dtype: int64

In [119]:
df[(df[10]=='Grand Canyon')&(df[11]=='Alabama')][37].value_counts()

37
Grand Canyon    339
Alabama          76
Name: count, dtype: int64

In [120]:
df[(df[12]=='Clemson')&(df[13]=='Baylor')][38].value_counts()

38
Clemson    853
Baylor     583
Name: count, dtype: int64

In [121]:
df[(df[14]=='Dayton')&(df[15]=='Arizona')][39].value_counts()

39
Dayton     1096
Arizona     461
Name: count, dtype: int64

In [128]:
i=16
j=17
k=40
print(df[(df[i]=='Houston')&(df[j]=='Texas A&M')][k].value_counts())
i+=2
j+=2
k+=1

40
Houston      408
Texas A&M    226
Name: count, dtype: int64

In [142]:
i-=2
j-=2
k-=1

In [152]:
print(df[(df[i]=='UConn')&(df[j]=='James Madison')][k].value_counts())
i+=2
j+=2
k+=1

62
UConn            44
James Madison    13
Name: count, dtype: int64