In [1]:
# from helper_functions.tourney_sim import simulate_tournament
import os
import numpy as np
import pickle
from tqdm import tqdm
import pandas as pd
pd.set_option('display.max_columns', 90)

In [7]:
real_winners = ['Michigan St.','Duquesne','Creighton', 'Arizona', 'North Carolina','Illinois','Oregon', 'Dayton',
                'Texas','Oakland','Gonzaga','Iowa St.','Tennessee', 'NC State', 'Washington St.','Kansas']
real_losers = ['Mississippi St.','BYU', 'Akron', 'Long Beach St.', 'Wagner', 'Morehead St.','South Carolina','Nevada',
               'Colorado St.', 'Kentucky','McNeese','South Dakota St.',"Saint Peter's", 'Texas Tech','Drake','Samford']

In [8]:
game_ids = [9, 4, 29, 15, 8, 5, 28, 14, 30, 21, 26, 7, 31, 20,6,27]

In [104]:
lines = {'Arizona':-395,
         'Gonzaga':-170,
         'North Carolina':-185,
         'Iowa St.':-290,
         'NC State':-258,
         'Tennesee':-285,
         'Illinois':-535,
         "Creighton":-298}

In [28]:
def implied_prob(line):
    if line < 0:
        ip = (-1*line)/(-1*line+100)
    else:
        ip=100/(line+100)
    return ip

In [40]:
def reverse_prob(p):
    if p <= .5:
        line = (100/p)-100
    else:
        line = (100*p)/(p-1)
    return line

In [87]:
def payout(line, bet):
    winnings=0
    if line < 0:
        winnings = bet/(-line/100)
    else:
        winnings = bet * (line/100)
    return (bet + winnings)

In [42]:
def combine_lines(lines=[]):
    probs=[]
    for l in lines:
        probs.append(implied_prob(l))
    total_prob=1
    for p in probs:
        total_prob*=p
    return reverse_prob(total_prob)

In [79]:
def find_ones_indexes(binary_tuple):
    indexes = []
    for index, bit in enumerate(binary_tuple):
        if bit == 1:
            indexes.append(index+1)
    return indexes

In [48]:
from itertools import combinations

In [51]:
list(combinations([1,2,3,4,5],2))

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 4),
 (3, 5),
 (4, 5)]

In [58]:
success = [1,1,1,1,1,1,1,1]

In [59]:
combos_chosen = [1,1,1,1,1,1,1,1]

In [57]:
for i in range(8):
    current_combinations =list(combinations(lines.keys(),i+1))
    for c in current_combinations:
        line = combine_lines([lines[x] for x in c])
        print(payout(line,0.1))

0.12439024390243902
0.25
0.15405405405405406
0.13597122302158274
0.13875968992248064
0.13703703703703707
0.11869158878504674
0.14878048780487807
0.3109756097560975
0.1916282135794331
0.1691349359536761
0.17260351673284174
0.17046070460704607
0.1476407567813996
0.18506841165972637
0.3851351351351351
0.33992805755395683
0.3468992248062016
0.34259259259259256
0.2967289719626168
0.37195121951219523
0.20946918141162743
0.2137649277184161
0.2111111111111111
0.18284920434453147
0.22920237310481215
0.1886732474485528
0.18633093525179856
0.1613864048947758
0.20229864888576943
0.19015216767154752
0.16469608056219665
0.2064473435432029
0.1626514364832122
0.20388437217705513
0.17658992477775248
0.4790705339485827
0.42283733988419014
0.43150879183210433
0.42615176151761525
0.36910189195349896
0.4626710291493159
0.26055922565836587
0.2659027149668103
0.2626016260162602
0.22744657125783185
0.2851053909352541
0.23469111267990717
0.23177750482540796
0.2007489426739894
0.2516397827603474
0.23653074515241276
0.20486585630907386
0.2568003541634962
0.20232251855228833
0.25361226782999535
0.21966063813817993
0.5236729535290685
0.5344123192960403
0.5277777777777777
0.45712301086132856
0.5730059327620304
0.471683118621382
0.4658273381294964
0.40346601223693945
0.5057466222144236
0.47538041917886886
0.4117402014054916
0.5161183588580073
0.4066285912080305
0.5097109304426377
0.4414748119443812
0.2906587866099327
0.28705035971223025
0.24862229943249242
0.31164926990510433
0.2929371231696813
0.2537209889741948
0.31804050221520447
0.2505711318795431
0.31409214092140925
0.27204393817113215
0.2585522279850538
0.22393927500902996
0.2807089779112615
0.22115914744839643
0.27722407439901736
0.24011148045320296
0.22569462891856581
0.28290932263327806
0.2450356320559511
0.24199360062136446
0.6513980641459145
0.6647567874170255
0.6565040650406503
0.5686164281445795
0.7127634773381353
0.5867277816997678
0.5794437620635198
0.5018723566849735
0.6290994569008683
0.5913268628810319
0.5121646407726846
0.6420008854087407
0.5058062963807208
0.6340306695749884
0.5491515953454497
0.36155117358796507
0.35706264256887177
0.3092618846599296
0.3876612869551297
0.3643852019915549
0.31560415701668143
0.3956113564140348
0.3116860420940658
0.39069998017053353
0.33839611821287174
0.3216137470057987
0.27855861037708607
0.34917458227986187
0.27510040292361504
0.34483970230121674
0.29867525617349644
0.2807420993865086
0.3519115964462727
0.3048004203622806
0.3010164300412095
0.7266469665248316
0.7176258992805755
0.6215557485812309
0.7791231747627605
0.7323428079242031
0.6343024724354871
0.7951012555380109
0.6264278296988578
0.7852303523035231
0.6801098454278304
0.6463805699626345
0.5598481875225749
0.7017724447781538
0.5528978686209911
0.6930601859975434
0.6002787011330074
0.5642365722964144
0.7072733065831951
0.6125890801398779
0.6049840015534114
0.39831018905805593
0.34498753177066777
0.43244356056599753
0.34070463255563777
0.4270749254255132
0.36990146988736683
0.347691725631304
0.4358332808134283
0.37748732505916793
0.37280095230858856
0.30687974723459654
0.38467526602654345
0.33317794574514215
0.3290416583988337
0.3357895698544516
0.9038779339699125
0.8926566064221791
0.7731547116498239
0.9691532173878242
0.9109630049788869
0.7890103925417034
0.9890283910350867
0.7792151052351646
0.9767499504263334
0.8459902955321792
0.8040343675144966
0.6963965259427152
0.8729364556996545
0.6877510073090376
0.8620992557530418
0.746688140433741
0.7018552484662716
0.8797789911156816
0.7620010509057016
0.7525410751030237
0.49545901565758177
0.429130832202538
0.5379175997284359
0.42380332342286653
0.5312395413829555
0.4601213405916026
0.4324945855413782
0.5421340810118255
0.46955740434189186
0.4637280138472687
0.38172846607230315
0.47849850164277363
0.4144408593415183
0.40929572142293946
0.4176894649409032
0.9957754726451397
0.8624688294266692
1.0811089014149935
0.8517615813890943
1.067687313563783
0.924753674718417
0.86922931407826
1.0895832020335707
0.9437183126479198
0.9320023807714712
0.7671993680864916
0.9616881650663587
0.8329448643628553
0.8226041459970843
0.8394739246361288
0.47276069168573
0.5926078422571077
0.5132741326344082
0.5069020142900952
0.5172974454514523
0.45657718491000965
1.2386475391439542
1.0728270805063447
1.3447939993210896
1.059508308557166
1.3280988534573885
1.1503033514790064
1.0812364638534453
1.355335202529564
1.1738935108547295
1.1593200346181718
0.9543211651807576
1.196246254106934
1.0361021483537958
1.0232393035573488
1.0442236623522578
0.5880681774627373
0.7371463403685973
0.6384629454720686
0.6305366519218258
0.643467554098148
0.567937473912451
1.1819017292143248
1.481519605642769
1.2831853315860204
1.2672550357252381
1.293243613628631
1.1414429622750242
0.7033756632397445
1.4701704436568428
1.8428658509214932
1.5961573636801716
1.5763416298045643
1.6086688852453703
1.4198436847811275
0.8749307030543164
1.7584391580993612
2.1873267576357907

In [65]:
binary_tuples = [tuple(int(bit) for bit in bin(i)[2:].zfill(8)) for i in range(256)]

# Printing the first few values
for i in range(10):
    print(binary_tuples[i])

(0, 0, 0, 0, 0, 0, 0, 0)
(0, 0, 0, 0, 0, 0, 0, 1)
(0, 0, 0, 0, 0, 0, 1, 0)
(0, 0, 0, 0, 0, 0, 1, 1)
(0, 0, 0, 0, 0, 1, 0, 0)
(0, 0, 0, 0, 0, 1, 0, 1)
(0, 0, 0, 0, 0, 1, 1, 0)
(0, 0, 0, 0, 0, 1, 1, 1)
(0, 0, 0, 0, 1, 0, 0, 0)
(0, 0, 0, 0, 1, 0, 0, 1)

In [123]:
n=4

In [124]:
binary_tuples = [tuple(int(bit) for bit in bin(i)[2:].zfill(n)) for i in range(2**n)]

In [125]:
binary_tuples

[(0, 0, 0, 0),
 (0, 0, 0, 1),
 (0, 0, 1, 0),
 (0, 0, 1, 1),
 (0, 1, 0, 0),
 (0, 1, 0, 1),
 (0, 1, 1, 0),
 (0, 1, 1, 1),
 (1, 0, 0, 0),
 (1, 0, 0, 1),
 (1, 0, 1, 0),
 (1, 0, 1, 1),
 (1, 1, 0, 0),
 (1, 1, 0, 1),
 (1, 1, 1, 0),
 (1, 1, 1, 1)]

In [128]:
lines={'Oakland':210,
       'MSU':160,
       'Texas':235,
       'Dq':380}

In [127]:
probs={'Oakland':.381,
       'MSU':.284,
       'Texas':.349,
       'Dq':.348}

In [126]:
rr_possibilities = binary_tuples.copy()

In [130]:
best_rr = []
moneys = []
all_df = pd.DataFrame()

for i in tqdm(range(10000)):
    current_success = (np.random.choice([1,0],p=[probs['Oakland'], 1-probs['Oakland']]),
                       np.random.choice([1,0],p=[probs['MSU'], 1-probs['MSU']]),
                       np.random.choice([1,0],p=[probs['Texas'], 1-probs['Texas']]),
                       np.random.choice([1,0],p=[probs['Dq'], 1-probs['Dq']]))
    success_dict = dict(zip(lines.keys(), current_success))
    rr_moneys = []
    for c in rr_possibilities:
        cost = 0
        current_payout = 0
        current_rrs = find_ones_indexes(c)
        for i in current_rrs:
            current_combinations =list(combinations(lines.keys(),i))
            for combo in current_combinations:
                line = combine_lines([lines[x] for x in combo])
                cost += 0.1
                win = True
                for choice in combo:
                    if success_dict[choice] == 0:
                        win=False
                if win:
                    current_payout += payout(line,0.1)
        rr_moneys.append(current_payout-cost)
    df = pd.DataFrame(zip(rr_possibilities,rr_moneys)).sort_values(by=1,ascending=False)
    df['iter']=1
    all_df=pd.concat([all_df, df])
    best_rr.append(df[0].iloc[0])
    moneys.append(df[1].iloc[0])

100%|██████████| 10000/10000 [00:15<00:00, 658.34it/s]

In [135]:
new_df = all_df.groupby(0)[1].mean().reset_index().sort_values(by=1).copy()
new_df.columns=['RR Set','Expected Return']

In [138]:
new_df['Expected Return'] *= 10

In [139]:
new_df

          RR Set  Expected Return
0   (0, 0, 0, 0)         0.000000
1   (0, 0, 0, 1)         0.710783
8   (1, 0, 0, 0)         0.753825
9   (1, 0, 0, 1)         1.464608
2   (0, 0, 1, 0)         2.119748
4   (0, 1, 0, 0)         2.222667
3   (0, 0, 1, 1)         2.830531
10  (1, 0, 1, 0)         2.873573
5   (0, 1, 0, 1)         2.933450
12  (1, 1, 0, 0)         2.976492
11  (1, 0, 1, 1)         3.584356
13  (1, 1, 0, 1)         3.687275
6   (0, 1, 1, 0)         4.342415
7   (0, 1, 1, 1)         5.053198
14  (1, 1, 1, 0)         5.096240
15  (1, 1, 1, 1)         5.807023

In [136]:
all_df.groupby(0)[1].mean().reset_index().sort_values(by=1)

               0         1
0   (0, 0, 0, 0)  0.000000
1   (0, 0, 0, 1)  0.071078
8   (1, 0, 0, 0)  0.075383
9   (1, 0, 0, 1)  0.146461
2   (0, 0, 1, 0)  0.211975
4   (0, 1, 0, 0)  0.222267
3   (0, 0, 1, 1)  0.283053
10  (1, 0, 1, 0)  0.287357
5   (0, 1, 0, 1)  0.293345
12  (1, 1, 0, 0)  0.297649
11  (1, 0, 1, 1)  0.358436
13  (1, 1, 0, 1)  0.368728
6   (0, 1, 1, 0)  0.434242
7   (0, 1, 1, 1)  0.505320
14  (1, 1, 1, 0)  0.509624
15  (1, 1, 1, 1)  0.580702

In [115]:
pd.DataFrame(zip(best_rr,moneys))[0].value_counts()

0
(0, 0, 0, 0, 0, 0, 0, 0)    500
(1, 1, 0, 0, 0, 0, 0, 0)    183
(1, 1, 1, 1, 1, 1, 1, 0)    153
(1, 0, 0, 0, 0, 0, 0, 0)     73
(1, 1, 1, 1, 1, 1, 1, 1)     46
(1, 1, 1, 1, 1, 1, 0, 0)     25
(1, 1, 1, 0, 0, 0, 0, 0)     15
Name: count, dtype: int64

In [116]:
pd.DataFrame(zip(best_rr,moneys))

                            0          1
0    (0, 0, 0, 0, 0, 0, 0, 0)   0.000000
1    (0, 0, 0, 0, 0, 0, 0, 0)   0.000000
2    (0, 0, 0, 0, 0, 0, 0, 0)   0.000000
3    (0, 0, 0, 0, 0, 0, 0, 0)   0.000000
4    (1, 1, 1, 1, 1, 1, 1, 0)  18.703515
..                        ...        ...
990  (1, 0, 0, 0, 0, 0, 0, 0)   0.014633
991  (0, 0, 0, 0, 0, 0, 0, 0)   0.000000
992  (0, 0, 0, 0, 0, 0, 0, 0)   0.000000
993  (1, 1, 0, 0, 0, 0, 0, 0)   0.166429
994  (0, 0, 0, 0, 0, 0, 0, 0)   0.000000

[995 rows x 2 columns]

In [90]:
pd.DataFrame(zip(rr_possibilities,rr_moneys))

                            0           1
0    (0, 0, 0, 0, 0, 0, 0, 0)    0.000000
1    (0, 0, 0, 0, 0, 0, 0, 1)    2.087327
2    (0, 0, 0, 0, 0, 0, 1, 0)   11.347418
3    (0, 0, 0, 0, 0, 0, 1, 1)   13.434744
4    (0, 0, 0, 0, 0, 1, 0, 0)   26.575640
..                        ...         ...
251  (1, 1, 1, 1, 1, 0, 1, 1)   92.795916
252  (1, 1, 1, 1, 1, 1, 0, 0)  105.936811
253  (1, 1, 1, 1, 1, 1, 0, 1)  108.024138
254  (1, 1, 1, 1, 1, 1, 1, 0)  117.284229
255  (1, 1, 1, 1, 1, 1, 1, 1)  119.371555

[256 rows x 2 columns]

In [85]:
current_combinations

[('Arizona',
  'Kansas',
  'North Carolina',
  'Iowa St.',
  'NC State',
  'Tennesee',
  'Illinois',
  'Creighton')]

In [70]:
rr_possibilities[0]

(0, 0, 0, 0, 0, 0, 0, 0)

In [80]:
abc=find_ones_indexes((0,0,1,0,1,1,0,1))

In [81]:
abc

[3, 5, 6, 8]

In [117]:
d2={'MSU':160,
    'Oregon':160,
    'GCU':200,
    'Oakland':210}

In [118]:
all_combs = list(combinations(d2.keys(),2))

In [119]:
all_combs

[('MSU', 'Oregon'),
 ('MSU', 'GCU'),
 ('MSU', 'Oakland'),
 ('Oregon', 'GCU'),
 ('Oregon', 'Oakland'),
 ('GCU', 'Oakland')]

In [121]:
for k in all_combs:
    L = combine_lines([d2[x] for x in k])
    print("{}: {}".format(k, L))

('MSU', 'Oregon'): 576.0
('MSU', 'GCU'): 680.0000000000001
('MSU', 'Oakland'): 706.0
('Oregon', 'GCU'): 680.0000000000001
('Oregon', 'Oakland'): 706.0
('GCU', 'Oakland'): 830.0000000000001