In [1]:
import pandas as pd
from helper_functions.pull_game_logic import pull_game
from helper_functions.game_states_logic import get_play_states
from collections import Counter

In [2]:
#second game
# sample_game = pd.read_excel('Second_Sample_Game.xlsx')

In [3]:
all_data = pull_game(6200082)

In [4]:
all_data['id']

'06b4bf0468c084155f30c1e2f0e275c6_2024-02-06 03:00:07 ET_Play-By-Play for Creighton vs Butler'

In [5]:
# all_data['data'].to_excel('Third_Sample_Game.xlsx',index=False)

In [6]:
all_data['teams']

    home    id       name abbreviations
0   true  1457  Creighton            CU
1  false   488     Butler        Butler

In [7]:
all_states = get_play_states(all_data['data'], 'CU','Butler')

In [8]:
# all_states

In [9]:
#going to use above list to determine unique transitions,
# and add few more games in

In [10]:
all_data_2 = pull_game(6200083)

In [11]:
all_data_2['teams']

    home    id          name abbreviations
0   true  1863  Arkansas St.           ASU
1  false   211           ULM           ULM

In [12]:
all_data_2['data'].head()

   Period   TIME  Away  Home                                     PLAY
0       1  19:41     0     3    3 Pointer GOOD by ASU's Fields, Caleb
1       1  19:19     0     3            ULM Turnover by Willis, Makai
2       1  19:19     0     3             ASU Steal by Nelson, Izaiyah
3       1  19:11     0     5  Slam Dunk GOOD by ASU's Nelson, Izaiyah
4       1  19:11     0     5              ASU Assist by Fields, Caleb

In [13]:
all_states_2 = get_play_states(all_data_2['data'], 'ASU','ULM')

In [14]:
#NEED TO INCLUDE MORE GAMES SO AS TO NOT WASTE TIME ON POSSIBILITY MATRIX

In [15]:
all_data_3 = pull_game(6200084)

In [16]:
all_data_3['teams']

    home    id               name abbreviations
0   true  1808            Gonzaga          Gonz
1  false  1317  Saint Mary's (CA)           SMC

In [17]:
all_data_3['data'].head()

   Period   TIME  Away  Home                                        PLAY
0       1  19:42     0     2           Jumper GOOD by Gonz's Ike, Graham
1       1  19:21     0     2       Layup MISSED by SMC's Saxen, Mitchell
2       1  19:18     0     2       Gonz Defensive REBOUND by Ike, Graham
3       1  19:17     0     2                Foul on SMC's Mahaney, Aidan
4       1  19:17     0     2  Free Throw MISSED by Gonz's Nembhard, Ryan

In [18]:
all_states_3 = get_play_states(all_data_3['data'], 'Gonz','SMC')

In [19]:
all_data_4 = pull_game(6200085)

In [20]:
all_data_4['teams']

    home    id      name abbreviations
0   true  1362       VCU           VCU
1  false  2625  Richmond            UR

In [22]:
all_data_4['data'].head()

   Period   TIME  Away  Home                                      PLAY
0       1  19:45     0     0    3 Pointer MISSED by VCU's Kuany, Kuany
1       1  19:41     0     0       UR Defensive REBOUND by Quinn, Neal
2       1  19:11     0     0  3 Pointer MISSED by UR's Bigelow, Isaiah
3       1  19:08     0     0     VCU Defensive REBOUND by Jackson, Zeb
4       1  18:53     0     2      Slam Dunk GOOD by VCU's Kuany, Kuany

In [21]:
all_states_4 = get_play_states(all_data_4['data'], 'VCU','UR')

In [22]:
all_data_5 = pull_game(6200086)

In [23]:
all_data_5['teams']

    home    id       name abbreviations
0   true   960  Stonehill           STO
1  false  1718     Wagner            WC

In [24]:
all_data_6 = pull_game(6200087)
all_data_6['teams']

    home    id            name abbreviations
0   true  1486          Furman          UNCG
1  false   201  UNC Greensboro        Furman

In [62]:
short_list = [x for x in all_states if x != 'UNNEC'] + [x for x in all_states_2 if x != 'UNNEC']

In [63]:
list_of_pairs = [tuple(short_list[x:x+2]) for x in range(len(short_list)-1)]

In [64]:
all_counts = Counter(list_of_pairs)

In [65]:
dict(all_counts)

{('Br0', 'Ar0'): 27,
 ('Ar0', 'Bi0'): 5,
 ('Bi0', 'Br0'): 6,
 ('Br0', 'Ai2'): 13,
 ('Ai2', 'Bi2'): 7,
 ('Bi2', 'Ar0'): 11,
 ('Ar0', 'Br0'): 21,
 ('Br0', 'Ai3'): 10,
 ('Ai3', 'Af2'): 1,
 ('Af2', 'Bi1'): 5,
 ('Bi1', 'Br0'): 4,
 ('Ai2', 'Bi3'): 9,
 ('Bi3', 'Ar0'): 9,
 ('Ar0', 'Af2'): 2,
 ('Bi1', 'Ai2'): 9,
 ('Ai2', 'Br0'): 14,
 ('Ai3', 'Ar0'): 4,
 ('Ar0', 'Ai0'): 4,
 ('Ai0', 'Bi3'): 1,
 ('Ar0', 'Bi2'): 23,
 ('Bi2', 'Ai3'): 3,
 ('Ai3', 'Bi2'): 5,
 ('Br0', 'Bf0'): 8,
 ('Bf0', 'Bf0'): 4,
 ('Bf0', 'Ai1'): 3,
 ('Ai1', 'Br0'): 7,
 ('Br0', 'Ai0'): 3,
 ('Ai0', 'Ar0'): 8,
 ('Bi2', 'Ai2'): 16,
 ('Ai2', 'Af0'): 7,
 ('Af0', 'Af1'): 18,
 ('Af1', 'Bi1'): 17,
 ('Bi1', 'Ai3'): 2,
 ('Ai3', 'Bi3'): 3,
 ('Bi3', 'Ai3'): 1,
 ('Ai3', 'Br0'): 4,
 ('Bi2', 'Bi0'): 1,
 ('Bi0', 'Ar0'): 2,
 ('Ai2', 'Ai0'): 4,
 ('Ai0', 'Bi2'): 1,
 ('Ar0', 'Af0'): 12,
 ('Bi1', 'Ar0'): 6,
 ('Ar0', 'Bi3'): 8,
 ('Bi3', 'Bi0'): 1,
 ('Bi0', 'Ai2'): 1,
 ('Af0', 'Br0'): 1,
 ('Bi3', 'Bf0'): 1,
 ('Bf0', 'Bf1'): 9,
 ('Bf1', 'Bf1'): 2,
 ('Bf1', 'Ai1'): 7,
 ('Ai1', 'Ai0'): 2,
 ('Ai0', 'Af0'): 2,
 ('Af1', 'Br0'): 2,
 ('Bi2', 'Bf0'): 4,
 ('Ai2', 'Af2'): 2,
 ('Ar0', 'Ar0'): 4,
 ('Af0', 'Af0'): 4,
 ('Af0', 'Bi1'): 3,
 ('Bi3', 'Ai2'): 5,
 ('Br0', 'Br0'): 5,
 ('Bi2', 'Br0'): 2,
 ('Bf1', 'Ar0'): 2,
 ('Br0', 'Bi0'): 3,
 ('Bi0', 'Bf0'): 1,
 ('Bf0', 'Ar0'): 4,
 ('Ai1', 'Af0'): 2,
 ('Ai0', 'Br0'): 4,
 ('Bi0', 'Ai3'): 2,
 ('Bi1', 'Bi0'): 1,
 ('Af0', 'Ar0'): 1,
 ('Bi1', 'Ai0'): 1,
 ('Bi3', 'Bf2'): 2,
 ('Bf2', 'Ai1'): 4,
 ('Ai1', 'Bi2'): 2,
 ('Ai2', 'Ar0'): 1,
 ('Bi3', 'Br0'): 2,
 ('Bi2', 'Ai0'): 1,
 ('Ar0', 'Af1'): 1,
 ('Bi1', 'Bf0'): 2,
 ('Br0', 'Bf2'): 2,
 ('Ai1', 'Bi0'): 1,
 ('Ai3', 'Ai0'): 1,
 ('Br0', 'Bf3'): 1,
 ('Bf3', 'Ai1'): 1,
 ('Ai1', 'Ar0'): 1}

In [79]:
from itertools import product

In [67]:
possible_states = ['Ai0',
'Ai1',
'Ai2',
'Ai3',
'Ar0',
'Af0',
'Af1',
'Af2',
'Af3',
'Bi0',
'Bi1',
'Bi2',
'Bi3',
'Br0',
'Bf0',
'Bf1',
'Bf2',
'Bf3']

In [80]:
list(product(possible_states,possible_states))

[('Ai0', 'Ai0'),
 ('Ai0', 'Ai1'),
 ('Ai0', 'Ai2'),
 ('Ai0', 'Ai3'),
 ('Ai0', 'Ar0'),
 ('Ai0', 'Af0'),
 ('Ai0', 'Af1'),
 ('Ai0', 'Af2'),
 ('Ai0', 'Af3'),
 ('Ai0', 'Bi0'),
 ('Ai0', 'Bi1'),
 ('Ai0', 'Bi2'),
 ('Ai0', 'Bi3'),
 ('Ai0', 'Br0'),
 ('Ai0', 'Bf0'),
 ('Ai0', 'Bf1'),
 ('Ai0', 'Bf2'),
 ('Ai0', 'Bf3'),
 ('Ai1', 'Ai0'),
 ('Ai1', 'Ai1'),
 ('Ai1', 'Ai2'),
 ('Ai1', 'Ai3'),
 ('Ai1', 'Ar0'),
 ('Ai1', 'Af0'),
 ('Ai1', 'Af1'),
 ('Ai1', 'Af2'),
 ('Ai1', 'Af3'),
 ('Ai1', 'Bi0'),
 ('Ai1', 'Bi1'),
 ('Ai1', 'Bi2'),
 ('Ai1', 'Bi3'),
 ('Ai1', 'Br0'),
 ('Ai1', 'Bf0'),
 ('Ai1', 'Bf1'),
 ('Ai1', 'Bf2'),
 ('Ai1', 'Bf3'),
 ('Ai2', 'Ai0'),
 ('Ai2', 'Ai1'),
 ('Ai2', 'Ai2'),
 ('Ai2', 'Ai3'),
 ('Ai2', 'Ar0'),
 ('Ai2', 'Af0'),
 ('Ai2', 'Af1'),
 ('Ai2', 'Af2'),
 ('Ai2', 'Af3'),
 ('Ai2', 'Bi0'),
 ('Ai2', 'Bi1'),
 ('Ai2', 'Bi2'),
 ('Ai2', 'Bi3'),
 ('Ai2', 'Br0'),
 ('Ai2', 'Bf0'),
 ('Ai2', 'Bf1'),
 ('Ai2', 'Bf2'),
 ('Ai2', 'Bf3'),
 ('Ai3', 'Ai0'),
 ('Ai3', 'Ai1'),
 ('Ai3', 'Ai2'),
 ('Ai3', 'Ai3'),
 ('Ai3', 'Ar0'),
 ('Ai3', 'Af0'),
 ('Ai3', 'Af1'),
 ('Ai3', 'Af2'),
 ('Ai3', 'Af3'),
 ('Ai3', 'Bi0'),
 ('Ai3', 'Bi1'),
 ('Ai3', 'Bi2'),
 ('Ai3', 'Bi3'),
 ('Ai3', 'Br0'),
 ('Ai3', 'Bf0'),
 ('Ai3', 'Bf1'),
 ('Ai3', 'Bf2'),
 ('Ai3', 'Bf3'),
 ('Ar0', 'Ai0'),
 ('Ar0', 'Ai1'),
 ('Ar0', 'Ai2'),
 ('Ar0', 'Ai3'),
 ('Ar0', 'Ar0'),
 ('Ar0', 'Af0'),
 ('Ar0', 'Af1'),
 ('Ar0', 'Af2'),
 ('Ar0', 'Af3'),
 ('Ar0', 'Bi0'),
 ('Ar0', 'Bi1'),
 ('Ar0', 'Bi2'),
 ('Ar0', 'Bi3'),
 ('Ar0', 'Br0'),
 ('Ar0', 'Bf0'),
 ('Ar0', 'Bf1'),
 ('Ar0', 'Bf2'),
 ('Ar0', 'Bf3'),
 ('Af0', 'Ai0'),
 ('Af0', 'Ai1'),
 ('Af0', 'Ai2'),
 ('Af0', 'Ai3'),
 ('Af0', 'Ar0'),
 ('Af0', 'Af0'),
 ('Af0', 'Af1'),
 ('Af0', 'Af2'),
 ('Af0', 'Af3'),
 ('Af0', 'Bi0'),
 ('Af0', 'Bi1'),
 ('Af0', 'Bi2'),
 ('Af0', 'Bi3'),
 ('Af0', 'Br0'),
 ('Af0', 'Bf0'),
 ('Af0', 'Bf1'),
 ('Af0', 'Bf2'),
 ('Af0', 'Bf3'),
 ('Af1', 'Ai0'),
 ('Af1', 'Ai1'),
 ('Af1', 'Ai2'),
 ('Af1', 'Ai3'),
 ('Af1', 'Ar0'),
 ('Af1', 'Af0'),
 ('Af1', 'Af1'),
 ('Af1', 'Af2'),
 ('Af1', 'Af3'),
 ('Af1', 'Bi0'),
 ('Af1', 'Bi1'),
 ('Af1', 'Bi2'),
 ('Af1', 'Bi3'),
 ('Af1', 'Br0'),
 ('Af1', 'Bf0'),
 ('Af1', 'Bf1'),
 ('Af1', 'Bf2'),
 ('Af1', 'Bf3'),
 ('Af2', 'Ai0'),
 ('Af2', 'Ai1'),
 ('Af2', 'Ai2'),
 ('Af2', 'Ai3'),
 ('Af2', 'Ar0'),
 ('Af2', 'Af0'),
 ('Af2', 'Af1'),
 ('Af2', 'Af2'),
 ('Af2', 'Af3'),
 ('Af2', 'Bi0'),
 ('Af2', 'Bi1'),
 ('Af2', 'Bi2'),
 ('Af2', 'Bi3'),
 ('Af2', 'Br0'),
 ('Af2', 'Bf0'),
 ('Af2', 'Bf1'),
 ('Af2', 'Bf2'),
 ('Af2', 'Bf3'),
 ('Af3', 'Ai0'),
 ('Af3', 'Ai1'),
 ('Af3', 'Ai2'),
 ('Af3', 'Ai3'),
 ('Af3', 'Ar0'),
 ('Af3', 'Af0'),
 ('Af3', 'Af1'),
 ('Af3', 'Af2'),
 ('Af3', 'Af3'),
 ('Af3', 'Bi0'),
 ('Af3', 'Bi1'),
 ('Af3', 'Bi2'),
 ('Af3', 'Bi3'),
 ('Af3', 'Br0'),
 ('Af3', 'Bf0'),
 ('Af3', 'Bf1'),
 ('Af3', 'Bf2'),
 ('Af3', 'Bf3'),
 ('Bi0', 'Ai0'),
 ('Bi0', 'Ai1'),
 ('Bi0', 'Ai2'),
 ('Bi0', 'Ai3'),
 ('Bi0', 'Ar0'),
 ('Bi0', 'Af0'),
 ('Bi0', 'Af1'),
 ('Bi0', 'Af2'),
 ('Bi0', 'Af3'),
 ('Bi0', 'Bi0'),
 ('Bi0', 'Bi1'),
 ('Bi0', 'Bi2'),
 ('Bi0', 'Bi3'),
 ('Bi0', 'Br0'),
 ('Bi0', 'Bf0'),
 ('Bi0', 'Bf1'),
 ('Bi0', 'Bf2'),
 ('Bi0', 'Bf3'),
 ('Bi1', 'Ai0'),
 ('Bi1', 'Ai1'),
 ('Bi1', 'Ai2'),
 ('Bi1', 'Ai3'),
 ('Bi1', 'Ar0'),
 ('Bi1', 'Af0'),
 ('Bi1', 'Af1'),
 ('Bi1', 'Af2'),
 ('Bi1', 'Af3'),
 ('Bi1', 'Bi0'),
 ('Bi1', 'Bi1'),
 ('Bi1', 'Bi2'),
 ('Bi1', 'Bi3'),
 ('Bi1', 'Br0'),
 ('Bi1', 'Bf0'),
 ('Bi1', 'Bf1'),
 ('Bi1', 'Bf2'),
 ('Bi1', 'Bf3'),
 ('Bi2', 'Ai0'),
 ('Bi2', 'Ai1'),
 ('Bi2', 'Ai2'),
 ('Bi2', 'Ai3'),
 ('Bi2', 'Ar0'),
 ('Bi2', 'Af0'),
 ('Bi2', 'Af1'),
 ('Bi2', 'Af2'),
 ('Bi2', 'Af3'),
 ('Bi2', 'Bi0'),
 ('Bi2', 'Bi1'),
 ('Bi2', 'Bi2'),
 ('Bi2', 'Bi3'),
 ('Bi2', 'Br0'),
 ('Bi2', 'Bf0'),
 ('Bi2', 'Bf1'),
 ('Bi2', 'Bf2'),
 ('Bi2', 'Bf3'),
 ('Bi3', 'Ai0'),
 ('Bi3', 'Ai1'),
 ('Bi3', 'Ai2'),
 ('Bi3', 'Ai3'),
 ('Bi3', 'Ar0'),
 ('Bi3', 'Af0'),
 ('Bi3', 'Af1'),
 ('Bi3', 'Af2'),
 ('Bi3', 'Af3'),
 ('Bi3', 'Bi0'),
 ('Bi3', 'Bi1'),
 ('Bi3', 'Bi2'),
 ('Bi3', 'Bi3'),
 ('Bi3', 'Br0'),
 ('Bi3', 'Bf0'),
 ('Bi3', 'Bf1'),
 ('Bi3', 'Bf2'),
 ('Bi3', 'Bf3'),
 ('Br0', 'Ai0'),
 ('Br0', 'Ai1'),
 ('Br0', 'Ai2'),
 ('Br0', 'Ai3'),
 ('Br0', 'Ar0'),
 ('Br0', 'Af0'),
 ('Br0', 'Af1'),
 ('Br0', 'Af2'),
 ('Br0', 'Af3'),
 ('Br0', 'Bi0'),
 ('Br0', 'Bi1'),
 ('Br0', 'Bi2'),
 ('Br0', 'Bi3'),
 ('Br0', 'Br0'),
 ('Br0', 'Bf0'),
 ('Br0', 'Bf1'),
 ('Br0', 'Bf2'),
 ('Br0', 'Bf3'),
 ('Bf0', 'Ai0'),
 ('Bf0', 'Ai1'),
 ('Bf0', 'Ai2'),
 ('Bf0', 'Ai3'),
 ('Bf0', 'Ar0'),
 ('Bf0', 'Af0'),
 ('Bf0', 'Af1'),
 ('Bf0', 'Af2'),
 ('Bf0', 'Af3'),
 ('Bf0', 'Bi0'),
 ('Bf0', 'Bi1'),
 ('Bf0', 'Bi2'),
 ('Bf0', 'Bi3'),
 ('Bf0', 'Br0'),
 ('Bf0', 'Bf0'),
 ('Bf0', 'Bf1'),
 ('Bf0', 'Bf2'),
 ('Bf0', 'Bf3'),
 ('Bf1', 'Ai0'),
 ('Bf1', 'Ai1'),
 ('Bf1', 'Ai2'),
 ('Bf1', 'Ai3'),
 ('Bf1', 'Ar0'),
 ('Bf1', 'Af0'),
 ('Bf1', 'Af1'),
 ('Bf1', 'Af2'),
 ('Bf1', 'Af3'),
 ('Bf1', 'Bi0'),
 ('Bf1', 'Bi1'),
 ('Bf1', 'Bi2'),
 ('Bf1', 'Bi3'),
 ('Bf1', 'Br0'),
 ('Bf1', 'Bf0'),
 ('Bf1', 'Bf1'),
 ('Bf1', 'Bf2'),
 ('Bf1', 'Bf3'),
 ('Bf2', 'Ai0'),
 ('Bf2', 'Ai1'),
 ('Bf2', 'Ai2'),
 ('Bf2', 'Ai3'),
 ('Bf2', 'Ar0'),
 ('Bf2', 'Af0'),
 ('Bf2', 'Af1'),
 ('Bf2', 'Af2'),
 ('Bf2', 'Af3'),
 ('Bf2', 'Bi0'),
 ('Bf2', 'Bi1'),
 ('Bf2', 'Bi2'),
 ('Bf2', 'Bi3'),
 ('Bf2', 'Br0'),
 ('Bf2', 'Bf0'),
 ('Bf2', 'Bf1'),
 ('Bf2', 'Bf2'),
 ('Bf2', 'Bf3'),
 ('Bf3', 'Ai0'),
 ('Bf3', 'Ai1'),
 ('Bf3', 'Ai2'),
 ('Bf3', 'Ai3'),
 ('Bf3', 'Ar0'),
 ('Bf3', 'Af0'),
 ('Bf3', 'Af1'),
 ('Bf3', 'Af2'),
 ('Bf3', 'Af3'),
 ('Bf3', 'Bi0'),
 ('Bf3', 'Bi1'),
 ('Bf3', 'Bi2'),
 ('Bf3', 'Bi3'),
 ('Bf3', 'Br0'),
 ('Bf3', 'Bf0'),
 ('Bf3', 'Bf1'),
 ('Bf3', 'Bf2'),
 ('Bf3', 'Bf3')]

In [81]:
for c in list(product(possible_states,possible_states)):
    print(c, c in all_counts.keys())

('Ai0', 'Ai0') False
('Ai0', 'Ai1') False
('Ai0', 'Ai2') False
('Ai0', 'Ai3') False
('Ai0', 'Ar0') True
('Ai0', 'Af0') True
('Ai0', 'Af1') False
('Ai0', 'Af2') False
('Ai0', 'Af3') False
('Ai0', 'Bi0') False
('Ai0', 'Bi1') False
('Ai0', 'Bi2') True
('Ai0', 'Bi3') True
('Ai0', 'Br0') True
('Ai0', 'Bf0') False
('Ai0', 'Bf1') False
('Ai0', 'Bf2') False
('Ai0', 'Bf3') False
('Ai1', 'Ai0') True
('Ai1', 'Ai1') False
('Ai1', 'Ai2') False
('Ai1', 'Ai3') False
('Ai1', 'Ar0') True
('Ai1', 'Af0') True
('Ai1', 'Af1') False
('Ai1', 'Af2') False
('Ai1', 'Af3') False
('Ai1', 'Bi0') True
('Ai1', 'Bi1') False
('Ai1', 'Bi2') True
('Ai1', 'Bi3') False
('Ai1', 'Br0') True
('Ai1', 'Bf0') False
('Ai1', 'Bf1') False
('Ai1', 'Bf2') False
('Ai1', 'Bf3') False
('Ai2', 'Ai0') True
('Ai2', 'Ai1') False
('Ai2', 'Ai2') False
('Ai2', 'Ai3') False
('Ai2', 'Ar0') True
('Ai2', 'Af0') True
('Ai2', 'Af1') False
('Ai2', 'Af2') True
('Ai2', 'Af3') False
('Ai2', 'Bi0') False
('Ai2', 'Bi1') False
('Ai2', 'Bi2') True
('Ai2', 'Bi3') True
('Ai2', 'Br0') True
('Ai2', 'Bf0') False
('Ai2', 'Bf1') False
('Ai2', 'Bf2') False
('Ai2', 'Bf3') False
('Ai3', 'Ai0') True
('Ai3', 'Ai1') False
('Ai3', 'Ai2') False
('Ai3', 'Ai3') False
('Ai3', 'Ar0') True
('Ai3', 'Af0') False
('Ai3', 'Af1') False
('Ai3', 'Af2') True
('Ai3', 'Af3') False
('Ai3', 'Bi0') False
('Ai3', 'Bi1') False
('Ai3', 'Bi2') True
('Ai3', 'Bi3') True
('Ai3', 'Br0') True
('Ai3', 'Bf0') False
('Ai3', 'Bf1') False
('Ai3', 'Bf2') False
('Ai3', 'Bf3') False
('Ar0', 'Ai0') True
('Ar0', 'Ai1') False
('Ar0', 'Ai2') False
('Ar0', 'Ai3') False
('Ar0', 'Ar0') True
('Ar0', 'Af0') True
('Ar0', 'Af1') True
('Ar0', 'Af2') True
('Ar0', 'Af3') False
('Ar0', 'Bi0') True
('Ar0', 'Bi1') False
('Ar0', 'Bi2') True
('Ar0', 'Bi3') True
('Ar0', 'Br0') True
('Ar0', 'Bf0') False
('Ar0', 'Bf1') False
('Ar0', 'Bf2') False
('Ar0', 'Bf3') False
('Af0', 'Ai0') False
('Af0', 'Ai1') False
('Af0', 'Ai2') False
('Af0', 'Ai3') False
('Af0', 'Ar0') True
('Af0', 'Af0') True
('Af0', 'Af1') True
('Af0', 'Af2') False
('Af0', 'Af3') False
('Af0', 'Bi0') False
('Af0', 'Bi1') True
('Af0', 'Bi2') False
('Af0', 'Bi3') False
('Af0', 'Br0') True
('Af0', 'Bf0') False
('Af0', 'Bf1') False
('Af0', 'Bf2') False
('Af0', 'Bf3') False
('Af1', 'Ai0') False
('Af1', 'Ai1') False
('Af1', 'Ai2') False
('Af1', 'Ai3') False
('Af1', 'Ar0') False
('Af1', 'Af0') False
('Af1', 'Af1') False
('Af1', 'Af2') False
('Af1', 'Af3') False
('Af1', 'Bi0') False
('Af1', 'Bi1') True
('Af1', 'Bi2') False
('Af1', 'Bi3') False
('Af1', 'Br0') True
('Af1', 'Bf0') False
('Af1', 'Bf1') False
('Af1', 'Bf2') False
('Af1', 'Bf3') False
('Af2', 'Ai0') False
('Af2', 'Ai1') False
('Af2', 'Ai2') False
('Af2', 'Ai3') False
('Af2', 'Ar0') False
('Af2', 'Af0') False
('Af2', 'Af1') False
('Af2', 'Af2') False
('Af2', 'Af3') False
('Af2', 'Bi0') False
('Af2', 'Bi1') True
('Af2', 'Bi2') False
('Af2', 'Bi3') False
('Af2', 'Br0') False
('Af2', 'Bf0') False
('Af2', 'Bf1') False
('Af2', 'Bf2') False
('Af2', 'Bf3') False
('Af3', 'Ai0') False
('Af3', 'Ai1') False
('Af3', 'Ai2') False
('Af3', 'Ai3') False
('Af3', 'Ar0') False
('Af3', 'Af0') False
('Af3', 'Af1') False
('Af3', 'Af2') False
('Af3', 'Af3') False
('Af3', 'Bi0') False
('Af3', 'Bi1') False
('Af3', 'Bi2') False
('Af3', 'Bi3') False
('Af3', 'Br0') False
('Af3', 'Bf0') False
('Af3', 'Bf1') False
('Af3', 'Bf2') False
('Af3', 'Bf3') False
('Bi0', 'Ai0') False
('Bi0', 'Ai1') False
('Bi0', 'Ai2') True
('Bi0', 'Ai3') True
('Bi0', 'Ar0') True
('Bi0', 'Af0') False
('Bi0', 'Af1') False
('Bi0', 'Af2') False
('Bi0', 'Af3') False
('Bi0', 'Bi0') False
('Bi0', 'Bi1') False
('Bi0', 'Bi2') False
('Bi0', 'Bi3') False
('Bi0', 'Br0') True
('Bi0', 'Bf0') True
('Bi0', 'Bf1') False
('Bi0', 'Bf2') False
('Bi0', 'Bf3') False
('Bi1', 'Ai0') True
('Bi1', 'Ai1') False
('Bi1', 'Ai2') True
('Bi1', 'Ai3') True
('Bi1', 'Ar0') True
('Bi1', 'Af0') False
('Bi1', 'Af1') False
('Bi1', 'Af2') False
('Bi1', 'Af3') False
('Bi1', 'Bi0') True
('Bi1', 'Bi1') False
('Bi1', 'Bi2') False
('Bi1', 'Bi3') False
('Bi1', 'Br0') True
('Bi1', 'Bf0') True
('Bi1', 'Bf1') False
('Bi1', 'Bf2') False
('Bi1', 'Bf3') False
('Bi2', 'Ai0') True
('Bi2', 'Ai1') False
('Bi2', 'Ai2') True
('Bi2', 'Ai3') True
('Bi2', 'Ar0') True
('Bi2', 'Af0') False
('Bi2', 'Af1') False
('Bi2', 'Af2') False
('Bi2', 'Af3') False
('Bi2', 'Bi0') True
('Bi2', 'Bi1') False
('Bi2', 'Bi2') False
('Bi2', 'Bi3') False
('Bi2', 'Br0') True
('Bi2', 'Bf0') True
('Bi2', 'Bf1') False
('Bi2', 'Bf2') False
('Bi2', 'Bf3') False
('Bi3', 'Ai0') False
('Bi3', 'Ai1') False
('Bi3', 'Ai2') True
('Bi3', 'Ai3') True
('Bi3', 'Ar0') True
('Bi3', 'Af0') False
('Bi3', 'Af1') False
('Bi3', 'Af2') False
('Bi3', 'Af3') False
('Bi3', 'Bi0') True
('Bi3', 'Bi1') False
('Bi3', 'Bi2') False
('Bi3', 'Bi3') False
('Bi3', 'Br0') True
('Bi3', 'Bf0') True
('Bi3', 'Bf1') False
('Bi3', 'Bf2') True
('Bi3', 'Bf3') False
('Br0', 'Ai0') True
('Br0', 'Ai1') False
('Br0', 'Ai2') True
('Br0', 'Ai3') True
('Br0', 'Ar0') True
('Br0', 'Af0') False
('Br0', 'Af1') False
('Br0', 'Af2') False
('Br0', 'Af3') False
('Br0', 'Bi0') True
('Br0', 'Bi1') False
('Br0', 'Bi2') False
('Br0', 'Bi3') False
('Br0', 'Br0') True
('Br0', 'Bf0') True
('Br0', 'Bf1') False
('Br0', 'Bf2') True
('Br0', 'Bf3') True
('Bf0', 'Ai0') False
('Bf0', 'Ai1') True
('Bf0', 'Ai2') False
('Bf0', 'Ai3') False
('Bf0', 'Ar0') True
('Bf0', 'Af0') False
('Bf0', 'Af1') False
('Bf0', 'Af2') False
('Bf0', 'Af3') False
('Bf0', 'Bi0') False
('Bf0', 'Bi1') False
('Bf0', 'Bi2') False
('Bf0', 'Bi3') False
('Bf0', 'Br0') False
('Bf0', 'Bf0') True
('Bf0', 'Bf1') True
('Bf0', 'Bf2') False
('Bf0', 'Bf3') False
('Bf1', 'Ai0') False
('Bf1', 'Ai1') True
('Bf1', 'Ai2') False
('Bf1', 'Ai3') False
('Bf1', 'Ar0') True
('Bf1', 'Af0') False
('Bf1', 'Af1') False
('Bf1', 'Af2') False
('Bf1', 'Af3') False
('Bf1', 'Bi0') False
('Bf1', 'Bi1') False
('Bf1', 'Bi2') False
('Bf1', 'Bi3') False
('Bf1', 'Br0') False
('Bf1', 'Bf0') False
('Bf1', 'Bf1') True
('Bf1', 'Bf2') False
('Bf1', 'Bf3') False
('Bf2', 'Ai0') False
('Bf2', 'Ai1') True
('Bf2', 'Ai2') False
('Bf2', 'Ai3') False
('Bf2', 'Ar0') False
('Bf2', 'Af0') False
('Bf2', 'Af1') False
('Bf2', 'Af2') False
('Bf2', 'Af3') False
('Bf2', 'Bi0') False
('Bf2', 'Bi1') False
('Bf2', 'Bi2') False
('Bf2', 'Bi3') False
('Bf2', 'Br0') False
('Bf2', 'Bf0') False
('Bf2', 'Bf1') False
('Bf2', 'Bf2') False
('Bf2', 'Bf3') False
('Bf3', 'Ai0') False
('Bf3', 'Ai1') True
('Bf3', 'Ai2') False
('Bf3', 'Ai3') False
('Bf3', 'Ar0') False
('Bf3', 'Af0') False
('Bf3', 'Af1') False
('Bf3', 'Af2') False
('Bf3', 'Af3') False
('Bf3', 'Bi0') False
('Bf3', 'Bi1') False
('Bf3', 'Bi2') False
('Bf3', 'Bi3') False
('Bf3', 'Br0') False
('Bf3', 'Bf0') False
('Bf3', 'Bf1') False
('Bf3', 'Bf2') False
('Bf3', 'Bf3') False

In [52]:
'egg' in all_counts.keys()

False