In [2]:
#v02 - run simulation with 2-10-100 games each rep

In [1]:
from helper_functions.tourney_sim import matchup, simulate_tournament
import os
import numpy as np
import pickle
from tqdm import tqdm
import pandas as pd

C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
c:\Users\mdona\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

WARNING:tensorflow:From C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From C:\Users\mdona\AppData\Roaming\Python\Python39\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

100%|██████████| 1378/1378 [00:12<00:00, 114.30it/s]

In [2]:
all_models = []
for x in os.listdir('models'):
    with open('models/{}'.format(x), 'rb') as file:
        y=pickle.load(file)
    all_models.append(y)

In [99]:
with open('models/{}'.format('nn_m10_319.pickle'), 'rb') as file:
    mmm=pickle.load(file)

In [100]:
pd.Series([x[0] > x[1] for x in matchup("Florida","Colorado", strategy='nn', reps=100, model=mmm)]).value_counts()

True     55
False    45
Name: count, dtype: int64

In [101]:
pd.Series([x[0] > x[1] for x in matchup("Florida","Marquette", strategy='nn', reps=100, model=mmm)]).value_counts()

False    59
True     41
Name: count, dtype: int64

In [59]:
pd.Series([x[0] > x[1] for x in matchup("Florida","Dayton", strategy='nn', reps=100, model=mmm)]).value_counts()

True     67
False    33
Name: count, dtype: int64

In [46]:
pd.Series([x[0] > x[1] for x in matchup("Kentucky","UConn", strategy='nn', reps=100, model=mmm)]).value_counts()

True     61
False    39
Name: count, dtype: int64

In [52]:
pd.Series([x[0] > x[1] for x in matchup("Utah St.","Colorado", strategy='nn', reps=100, model=mmm)]).value_counts()

True     62
False    38
Name: count, dtype: int64

In [175]:
np.random.randint(1,5)

1

In [205]:
te1='UConn'
te2='Iowa St.'
te3='Illinois'
te4='Auburn'
te5='San Diego St.'
te6='BYU'
te7='Washington St.'
te8='Fla. Atlantic'
te9='Northwestern'
te10='Drake'
te11='Duquesne'
te12='UAB'
te13='Yale'
te14='Morehead St.'
te15='South Dakota St.'
te16='Stetson'

tw1='North Carolina'
tw2='Arizona'
tw3='Baylor'
tw4='Alabama'
tw5="Saint Mary's (CA)"
tw6='Clemson'
tw7='Dayton'
tw8='Mississippi St.'
tw9='Michigan St.'
tw10='Nevada'
tw11='New Mexico'
tw12 = 'Grand Canyon'
tw13='Col. of Charleston'
tw14='Colgate'
tw15='Long Beach St.'
tw16='Howard'

ts1='Houston'
ts2 = 'Marquette'
ts3='Kentucky'
ts4='Duke'
ts5='Wisconsin'
ts6='Texas Tech'
ts7='Florida'
ts8='Nebraska'
ts9='Texas A&M'
ts10='Boise St.'
ts11='NC State'
ts12='James Madison'
ts13='Vermont'
ts14 = 'Oakland'
ts15='Western Ky.'
ts16='Longwood'

tm1='Purdue'
tm2='Tennessee'
tm3='Creighton'
tm4='Kansas'
tm5='Gonzaga'
tm6='South Carolina'
tm7='Texas'
tm8='Utah St.'
tm9='TCU'
tm10='Virginia'
tm11='Oregon'
tm12='McNeese'
tm13='Samford'
tm14='Akron'
tm15="Saint Peter's"
tm16='Grambling'

In [206]:
eastern_bracket = [(te1,te16),
                    (te8,te9),
                    (te5,te12),
                    (te4,te13),
                    (te6,te11),
                    (te3,te14),
                    (te7,te10),
                    (te2,te15)]

western_bracket = [(tw1,tw16),
                    (tw8,tw9),
                    (tw5,tw12),
                    (tw4,tw13),
                    (tw6,tw11),
                    (tw3,tw14),
                    (tw7,tw10),
                    (tw2,tw15)]

southern_bracket = [(ts1,ts16),
                    (ts8,ts9),
                    (ts5,ts12),
                    (ts4,ts13),
                    (ts6,ts11),
                    (ts3,ts14),
                    (ts7,ts10),
                    (ts2,ts15)]

midwestern_bracket = [(tm1,tm16),
                    (tm8,tm9),
                    (tm5,tm12),
                    (tm4,tm13),
                    (tm6,tm11),
                    (tm3,tm14),
                    (tm7,tm10),
                    (tm2,tm15)]

first_round = [eastern_bracket, western_bracket, southern_bracket, midwestern_bracket]

#RUN FIRST ROUND
#try with 10 simulations
east_round_2 = []
west_round_2 = []
south_round_2 = []
midwest_round_2 = []
second_round = [east_round_2,west_round_2,south_round_2,midwest_round_2]

In [232]:
home_scores = pd.DataFrame()
away_scores = pd.DataFrame()
for m in np.random.choice(all_models, np.random.randint(1,6)):
    data=matchup('Virginia','Colorado St.', strategy='nn', reps=1000000, model=m)
    hs = [x[0] for x in data]
    aw = [x[1] for x in data]
    home_scores[all_models.index(m)] = hs
    away_scores[all_models.index(m)] = aw
home_scores_mean = home_scores.mean(axis=1)
away_scores_mean = away_scores.mean(axis=1)
final_data = pd.DataFrame(zip(home_scores_mean, away_scores_mean))
print((final_data[0]>final_data[1]).value_counts())
print()

True     556137
False    443863
Name: count, dtype: int64

In [199]:
final_data

           0          1
0  78.818182  70.727273

In [190]:
(final_data[0]>final_data[1]).value_counts()

True     85
False    15
Name: count, dtype: int64

In [65]:
all_results_repeat = []

In [19]:
all_results_dict = dict()
unique_values=0

In [20]:
%%capture
for i in tqdm(range(1000)):
    current_result = simulate_tournament(strategy='nn', reps=10, auto=True, model=np.random.choice(all_models))
    if current_result in all_results_dict.values():
        all_results_repeat.append(list(all_results_dict.values()).index(current_result) + 1)
    else:
        unique_values+=1
        all_results_dict[unique_values]=current_result
        all_results_repeat.append(unique_values)

In [7]:
unique_values

6

In [8]:
len(all_results_repeat)

6

In [14]:
egg = []

In [15]:
for v in all_results_dict.values():
    egg.append(v[-1])

In [16]:
pd.Series(egg).value_counts()

UConn             2
North Carolina    1
Creighton         1
Gonzaga           1
Clemson           1
Name: count, dtype: int64

In [47]:
276/(276+40)

0.8734177215189873