In [ ]:
#updated version 2/26 - don't need to save down nums and abbrs for every team since we likely have most. Will manually enter remaining.
#missing pocket of data seems to start at 6195964, end at 6196975

In [1]:
import pandas as pd
from helper_functions.pull_game_logic import pull_game, WrongSportException
from helper_functions.game_states_logic import get_play_states
from collections import Counter
from tqdm import tqdm
import time

In [2]:
transitions_read = pd.read_excel('ALL_VALID_TRANSITIONS_v02.xlsx')

In [11]:
unique_games_read = transitions_read['filename'].unique()
game_nums_read = [int(x.split('_')[0]) for x in unique_games_read]

In [12]:
# database = pd.DataFrame(columns=['id','name','abbreviations'])
database=pd.read_excel('Team_Names_Abbrs.xlsx')

In [13]:
database['id'] = database['id'].astype(str)

In [51]:
number=6199020

In [52]:
bottom_range=number

In [53]:
bottom_range += 1
for number in tqdm(range(bottom_range,6200800)):
    try:
        # print(iterator)
        if number not in game_nums_read:
            current_data = pull_game(number)
            team_data = current_data['teams']
            for team_id in team_data['id'].values:
                if team_id in list(database['id'].values):
                    pass
                else:
                    to_add = team_data[team_data['id']==team_id].copy()
                    time.sleep(1)
                    # print(to_add)
                    correct = input("is {} the same as {} ".format(to_add['name'].values[0], to_add['abbreviations'].values[0]))
                    if correct == 'y':
                        pass
                    else:
                        to_add['abbreviations']=team_data[team_data['id']!=team_id]['abbreviations'].values

                    database = pd.concat([database,to_add])
                    # current_data['data'].to_excel(current_data['id'] + '.xlsx', index=False)
                    # games_done.append(number)
    except WrongSportException:
        pass

100%|██████████| 1779/1779 [00:04<00:00, 428.84it/s]

In [50]:
number

6199020

In [46]:
### NEED TO CHECK ###
#UTRVG? 506558?
#North American? 536?
#Army West Point vs ANY
#NC A&T vs T
#Vanguard 30135
#Wittenburg FW
#Navajo Tech 506563
#Bob Jones XXXXXX
#Texas A&M is M?
#Warren Wilson 30236
#Carolina Christian 506565
#stanton 506567
#edward waters 30244
#new college FL - 506568
#UNT Dallas 506547
#Coker USCU?
#error with game 6198622
#check unc asheville
#check saint francis PA
#check eastern ILL
#fort lauderdale 501752
#jessup 30262
#lavern ULV
#check kentuy wesley
#check st thomas TX
#check okaland city 506545
#check ME Presque vs maine
#check suny morrisville MOR
#check asbury 30243
#Lyon 366
#la christian 506553

In [54]:
database

       id                 name abbreviations   home
0    2427              Colgate          Colg   True
1     302            Weber St.         Weber  False
2      37                Drake           DRA   True
3    1285              Oakland           Oak  False
4    2379          Utah Valley           UVU   True
..    ...                  ...           ...    ...
1     585    Rhode Island Col.           RIC  false
1    2255     Pacific Lutheran          PacL  false
1    1145               Luther           LUT  false
1   16458             Milligan          Mill  false
1   53651  Penn St.-Schuylkill          PSUS  false

[695 rows x 4 columns]

In [56]:
# database.to_excel('Team_Names_Abbrs_v02.xlsx',index=False)
#ended here on 2/26

In [2]:
database = pd.read_excel('Team_Names_Abbrs_Through_6198041.xlsx')

In [3]:
database['id']=database['id'].astype(str)

In [57]:
bottom_range = number

In [58]:
bottom_range += 1
for number in tqdm(range(bottom_range,6200800)):
    # print(iterator)
    current_data = pull_game(number)
    team_data = current_data['teams']
    team_data['id']=team_data['id'].astype(str)
    for team_id in team_data['id'].values:
        if team_id in list(database['id'].values):
            pass
        else:
            to_add = team_data[team_data['id']==team_id].copy()
            time.sleep(1)
            # print(to_add)
            correct = input("is {} the same as {} ".format(to_add['name'].values[0], to_add['abbreviations'].values[0]))
            if correct == 'y':
                pass
            else:
                to_add['abbreviations']=team_data[team_data['id']!=team_id]['abbreviations'].values

            database = pd.concat([database,to_add])
            current_data['data'].to_excel(current_data['id'] + '.xlsx', index=False)
            # games_done.append(number)

100%|██████████| 90/90 [00:50<00:00,  1.78it/s]

In [35]:
number

6198622

In [59]:
database['name'].value_counts()

Colgate           1
Alabama           1
South Carolina    1
Mo. Baptist       1
Spalding          1
                 ..
Valparaiso        1
Western Ill.      1
TCU               1
Alcorn            1
Wells             1
Name: name, Length: 575, dtype: int64

In [61]:
database=database.reset_index(drop=True)

In [62]:
database.to_excel('Team_Names_Abbrs.xlsx',index=False)