In [6]:
import pandas as pd
from helper_functions.game_states_logic import get_play_states
from helper_functions.pull_game_logic import pull_game
import os
from tqdm import tqdm
from collections import Counter
import numpy as np

In [7]:
team_database = pd.read_excel('Team_Names_Abbrs_v02.xlsx')

In [8]:
existing_transitions = pd.read_csv('ALL_VALID_TRANSITIONS_v04.csv')

In [47]:
files_read = list(existing_transitions['filename'].unique())

In [10]:
for filename in os.listdir('raw_game_pulls'):
    teams = filename.split('for ')[1].split('.xlsx')[0]
    team1, team2 = teams.split(' vs ')
    reduce_df = team_database[team_database['name']==team1].copy()
    if len(reduce_df) > 1:
        print('Collision with {}'.format(team1))
    elif len(reduce_df) == 0:
        print('No match for {}'.format(team1))

    reduce_df = team_database[team_database['name']==team2].copy()
    if len(reduce_df) > 1:
        print('Collision with {}'.format(team2))
    elif len(reduce_df) == 0:
        print('No match for {}'.format(team2))

In [48]:
xs=[]
ys=[]

num_games = 0

In [49]:
#PROCESS NEW GAMES
#RE RUN WITH TIME DIFFERENTIALS LATER

#initialize full dataframe
final_df = pd.DataFrame()

#iterate through files
for filename in tqdm(os.listdir('raw_game_pulls')):
    if filename not in files_read:
        #initialize individual game dataframe
        game_tracking_df = pd.DataFrame()

        #parse filename
        teams = filename.split('for ')[1].split('.xlsx')[0]
        team1, team2 = teams.split(' vs ')
        team_A = team_database[team_database['name']==team1]['abbreviations'].values[0]
        team_B = team_database[team_database['name']==team2]['abbreviations'].values[0]

        #pull file data
        current_data = pd.read_excel('raw_game_pulls/{}'.format(filename))

        #quick check that the abbrev is in there 
        #(had to manually change some because abbrev changed throughout season)
        all_text = ' '.join(list(current_data['PLAY']))
        assert team_A in all_text
        assert team_B in all_text


        #pull states
        all_states = get_play_states(current_data, team_A, team_B)
        final_game = pd.DataFrame()
        for i in range(len(all_states)):
            half_tuples = all_states[i]

            #just take play, not timestamp
            smaller_list = [x[0] for x in half_tuples if x[0] != 'UNNEC']

            #that means rather than this logic, we should count the transitions in here

            # curr_half = pd.DataFrame(smaller_list, columns = ['State','Time'])
            # curr_half['Period']=i+1
            # final_game = pd.concat([final_game,curr_half])

            list_of_pairs = [tuple(smaller_list[j:j+2]) for j in range(len(smaller_list)-2)]

            curr_half = pd.DataFrame({'Transition': list_of_pairs})
            curr_half['Period']=i+1
            game_tracking_df=pd.concat([game_tracking_df,curr_half]).reset_index(drop=True)
        game_tracking_df['filename']=filename
        final_df=pd.concat([final_df,game_tracking_df]).reset_index(drop=True)

  0%|          | 0/5497 [00:00<?, ?it/s]

100%|██████████| 5497/5497 [00:10<00:00, 540.12it/s]

In [45]:
filename

'6201772_Play-By-Play for Nebraska vs South Carolina St..xlsx'

In [46]:
team_B

'SCSTATE'

In [50]:
#delete all transitions from FREETHROW state that don't result in either team r or opposite team i
#also delete when freethrow turns to i2 or i3
validate = []
for i in range(len(final_df)):
    curr_tran = final_df['Transition'][i]
    if curr_tran in [('Bi1', 'Af3'),
                       ('Ai2', 'Bf3'),
                       ('Af0', 'Af3'),
                       ('Ai0', 'Bf3'),
                       ('Bf2', 'Bf2'),
                       ('Bi3', 'Af3'),
                       ('Ai0', 'Bf2'),
                       ('Bf3', 'Bf0'),
                       ('Af3', 'Af1'),
                       ('Af3', 'Af0'),
                       ('Bf0', 'Bf2'),
                       ('Bf3', 'Bf1'),
                       ('Ai1', 'Bf3'),
                       ('Br0', 'Af3'),
                       ('Ar0', 'Bf3'),
                       ('Af0', 'Af2'),
                       ('Ai3', 'Bf2'),
                       ('Bi3', 'Af2'),
                       ('Bf2', 'Bf1'),
                       ('Bf2', 'Bf0'),
                       ('Ai2', 'Bf2'),
                       ('Ai1', 'Bf2'),
                       ('Af2', 'Af1'),
                       ('Bi0', 'Af2'),
                       ('Bi2', 'Af2'),
                       ('Af2', 'Af0'),
                       ('Bi1', 'Af2'),
                       ('Bi3', 'Bi3'),
                       ('Ai3', 'Ai3'),
                       ('Ai0', 'Ai3'),
                       ('Bi0', 'Bi3'),
                       ('Ai2', 'Ai3'),
                       ('Ai3', 'Ai2'),
                       ('Ai3', 'Bf0'),
                       ('Br0', 'Af2'),
                       ('Ar0', 'Bf2'),
                       ('Ai1', 'Ai3'),
                       ('Bi3', 'Af0'),
                       ('Bi0', 'Af0'),
                       ('Ai0', 'Ai2'),
                       ('Ai1', 'Bf0'),
                       ('Bi3', 'Bi2'),
                       ('Ai0', 'Bf0'),
                       ('Ai2', 'Ai2'),
                       ('Bi1', 'Bi3'),
                       ('Bi0', 'Bi2'),
                       ('Bi2', 'Bi3'),
                       ('Bi1', 'Af0'),
                       ('Br0', 'Bi3'),
                       ('Ai1', 'Ai2'),
                       ('Bi2', 'Bi2'),
                       ('Bi1', 'Bi2'),
                       ('Ai2', 'Bf0'),
                       ('Ar0', 'Ai3'),
                       ('Bi2', 'Af0'),
                       ('Br0', 'Bi2'),
                       ('Br0', 'Af0'),
                       ('Ar0', 'Ai2'),
                       ('Ar0', 'Bf0'),
                       ('Bi2','Af3'),
                       ('Af3','Af2')]:
        validate.append(False)

    elif ('f' in curr_tran[0])&('f' in curr_tran[1]):
        if (('A' in curr_tran[0])&('A' in curr_tran[1])) | (('B' in curr_tran[0])&('B' in curr_tran[1])):
            validate.append(True)
        else:
            validate.append(False)
    elif (('Af' in curr_tran[0])&('Ai' in curr_tran[1])) | (('Bf' in curr_tran[0])&('Bi' in curr_tran[1])):
        validate.append(False)
    elif ('f' in curr_tran[0])&(('i3' in curr_tran[1]) | ('i2' in curr_tran[1])):
        validate.append(False)
    elif ('1' in curr_tran[1])&('f' not in curr_tran[0]):
        validate.append(False)
    else:
        validate.append(True)

In [51]:
final_df['is_valid']=validate

In [52]:
final_df['is_valid'].value_counts(dropna=False)

True     53235
False      316
Name: is_valid, dtype: int64

In [53]:
final_df[final_df['is_valid']==True]['Transition'].value_counts(dropna=False)[:10]

(Br0, Ar0)    4275
(Ar0, Br0)    4255
(Ar0, Bi2)    2634
(Br0, Ai2)    2436
(Bi2, Ar0)    1892
(Ai2, Br0)    1675
(Af0, Af1)    1596
(Ar0, Ar0)    1518
(Bf0, Bf1)    1414
(Ar0, Af0)    1374
Name: Transition, dtype: int64

In [54]:
valid_df = final_df[final_df['is_valid']==True].copy().reset_index(drop=True)

In [55]:
to_save = pd.concat([existing_transitions,valid_df]).copy().reset_index(drop=True)

In [56]:
to_save

,Transition,Period,filename,is_valid
0,"('Ai0', 'Bi2')",1,6195965_Play-By-Play for Indiana vs Army West ...,True
1,"('Bi2', 'Ar0')",1,6195965_Play-By-Play for Indiana vs Army West ...,True
2,"('Ar0', 'Br0')",1,6195965_Play-By-Play for Indiana vs Army West ...,True
3,"('Br0', 'Ar0')",1,6195965_Play-By-Play for Indiana vs Army West ...,True
4,"('Ar0', 'Br0')",1,6195965_Play-By-Play for Indiana vs Army West ...,True
...,...,...,...,...
1135157,"(Ai1, Ar0)",3,6201788_Play-By-Play for Utah vs Arizona.xlsx,True
1135158,"(Ar0, Bi2)",3,6201788_Play-By-Play for Utah vs Arizona.xlsx,True
1135159,"(Bi2, Bf0)",3,6201788_Play-By-Play for Utah vs Arizona.xlsx,True
1135160,"(Bf0, Bf1)",3,6201788_Play-By-Play for Utah vs Arizona.xlsx,True
1135161,"(Bf1, Ai1)",3,6201788_Play-By-Play for Utah vs Arizona.xlsx,True

In [57]:
#v04 is too big for excel :(
to_save.to_csv('ALL_VALID_TRANSITIONS_v05.csv',index=False)

In [16]:
# valid_df.to_excel('ALL_VALID_TRANSITIONS_v03.xlsx',index=False)