In [2]:
#try to translate list of states to a final score.
#in first example, going to use Sample Game 3.
#Team A is CU, team B is Butler. Final score was CU 99 Butler 98

In [3]:
import pandas as pd
import numpy as np

In [68]:
pd.set_option('display.max_rows', 100)

In [4]:
state_data = pd.read_excel('ALL_VALID_TRANSITIONS.xlsx')

In [5]:
state_data['Transition_v2']=[tuple(y) for y in list(map( lambda x: x.strip("()").replace("'", "").split(", "), state_data['Transition']))]

In [45]:
state_data

,Transition,Period,filename,is_valid,Transition_v2
0,"('Bi0', 'Ai3')",1,6197002_Play-By-Play for Colgate vs Weber St.....,True,"(Bi0, Ai3)"
1,"('Ai3', 'Ar0')",1,6197002_Play-By-Play for Colgate vs Weber St.....,True,"(Ai3, Ar0)"
2,"('Ar0', 'Ar0')",1,6197002_Play-By-Play for Colgate vs Weber St.....,True,"(Ar0, Ar0)"
3,"('Ar0', 'Br0')",1,6197002_Play-By-Play for Colgate vs Weber St.....,True,"(Ar0, Br0)"
4,"('Br0', 'Ar0')",1,6197002_Play-By-Play for Colgate vs Weber St.....,True,"(Br0, Ar0)"
...,...,...,...,...,...
751462,"('Ar0', 'Bi3')",2,6200799_Play-By-Play for UT Martin vs Morehead...,True,"(Ar0, Bi3)"
751463,"('Bi3', 'Ar0')",2,6200799_Play-By-Play for UT Martin vs Morehead...,True,"(Bi3, Ar0)"
751464,"('Ar0', 'Af0')",2,6200799_Play-By-Play for UT Martin vs Morehead...,True,"(Ar0, Af0)"
751465,"('Af0', 'Af1')",2,6200799_Play-By-Play for UT Martin vs Morehead...,True,"(Af0, Af1)"
751466,"('Af1', 'Bi1')",2,6200799_Play-By-Play for UT Martin vs Morehead...,True,"(Af1, Bi1)"

In [48]:
valid_transitions = state_data['Transition_v2'].unique()

In [50]:
from itertools import product

In [56]:
#we have a list of all valid transitions. Going to get a list of all transitions including invalid ones just so we can assign 0 score to invalid ones (since they happen in real games)
possible_states = ['Ai0',
'Ai1',
'Ai2',
'Ai3',
'Ar0',
'Af0',
'Af1',
'Af2',
'Af3',
'Bi0',
'Bi1',
'Bi2',
'Bi3',
'Br0',
'Bf0',
'Bf1',
'Bf2',
'Bf3']

possible_transitions = list(product(possible_states,possible_states))

In [67]:
transition_scores = pd.DataFrame(columns=['Transition','Team_A', 'Team_B'])

In [61]:
import time

In [66]:
len(valid_transitions)

130

In [68]:
for t in valid_transitions:
    if '0' in t[1]:
        a_s = 0
        b_s = 0
    else:
        time.sleep(1)
        print(t)
        a_s = input('Team A Score: ')
        time.sleep(1)
        b_s = input('Team B Score: ')
    curr_row = pd.DataFrame({'Transition':t,
                             'Team_A':a_s,
                             'Team_B': b_s})
    transition_scores=pd.concat([transition_scores,curr_row])
    time.sleep(1)

('Bi0', 'Ai3')
('Ar0', 'Bi3')
('Br0', 'Ai3')
('Bi3', 'Ai3')
('Af0', 'Af1')
('Af1', 'Bi1')
('Bi1', 'Ai2')
('Ai2', 'Bi2')
('Ar0', 'Bi2')
('Br0', 'Ai2')
('Bf0', 'Bf1')
('Bf1', 'Bf1')
('Bf1', 'Ai1')
('Ai1', 'Bi3')
('Bi3', 'Ai2')
('Bi0', 'Ai2')
('Af0', 'Bi1')
('Bi2', 'Ai3')
('Bf0', 'Ai1')
('Ai1', 'Bi2')
('Ai0', 'Bi3')
('Br0', 'Bf2')
('Bf2', 'Ai1')
('Ai3', 'Bi3')
('Bi2', 'Ai2')
('Ai2', 'Bi3')
('Ai3', 'Bi2')
('Bi2', 'Bf2')
('Bi1', 'Bf2')
('Ai1', 'Af2')
('Af2', 'Bi1')
('Bi1', 'Ai3')
('Ai0', 'Bi2')
('Ai0', 'Af2')
('Af1', 'Af1')
('Ar0', 'Af2')
('Ar0', 'Af3')
('Bi0', 'Bf2')
('Ai2', 'Af2')
('Bi3', 'Bf2')
('Br0', 'Bf3')
('Bf3', 'Ai1')
('Bi2', 'Bf3')
('Ai3', 'Af2')
('Ai1', 'Af3')
('Ai3', 'Af3')
('Af3', 'Bi1')
('Bi0', 'Bf3')
('Bi1', 'Bf3')
('Ai2', 'Af3')
('Ai0', 'Af3')
('Bi3', 'Bf3')

In [72]:
transition_scores_small = transition_scores.loc[0].copy()

In [73]:
transition_scores_small['Transition']= valid_transitions

In [74]:
transition_scores_small

    Transition Team_A Team_B
0   (Bi0, Ai3)      0      3
0   (Ai3, Ar0)      0      0
0   (Ar0, Ar0)      0      0
0   (Ar0, Br0)      0      0
0   (Br0, Ar0)      0      0
..         ...    ...    ...
0   (Bi3, Bf3)      0      3
0   (Af3, Bi0)      0      0
0   (Af0, Bi0)      0      0
0   (Bf3, Ai0)      0      0
0   (Af1, Bi0)      0      0

[130 rows x 3 columns]

In [75]:
# save_data = transition_scores_small.copy().reset_index(drop=True)

In [88]:
# transition_scores_small=save_data.copy()

In [99]:

for pt in possible_transitions:
    if pt not in list(transition_scores_small['Transition'].values):
        curr_row = pd.DataFrame([[pt,0,0]], columns=['Transition','Team_A','Team_B'])
        transition_scores_small=pd.concat([transition_scores_small,curr_row])

In [101]:
transition_scores_small.to_excel('Transitions_and_scores.xlsx',index=False)

C:\Users\mdona\AppData\Local\Temp/ipykernel_19036/3555928841.py:1: UserWarning: Pandas requires version '3.0.3' or newer of 'xlsxwriter' (version '3.0.1' currently installed).
  transition_scores_small.to_excel('Transitions_and_scores.xlsx',index=False)

In [ ]:
#minor corrections needed after that

In [35]:
scoring_data = pd.read_excel("Transitions_and_scores.xlsx")

In [36]:
scoring_data[scoring_data['Team_A']=='E']

         Transition Team_A Team_B
23   ('Bf0', 'Bf1')      E      1
44   ('Ai0', 'Bi3')      E      E
56   ('Br0', 'Bf2')      E      2
71   ('Bi1', 'Bf2')      E      2
98   ('Bi0', 'Bf2')      E      2
103  ('Bi3', 'Bf2')      E      2
104  ('Br0', 'Bf3')      E      3
106  ('Bi2', 'Bf3')      E      3
109  ('Ai1', 'Af3')      E      E
110  ('Ai3', 'Af3')      E      E

In [37]:
scoring_data.loc[23, 'Team_A'] = 0
scoring_data.loc[44, 'Team_A'] = 3
scoring_data.loc[56, 'Team_A'] = 0
scoring_data.loc[71, 'Team_A'] = 0
scoring_data.loc[98, 'Team_A'] = 0
scoring_data.loc[103, 'Team_A'] = 0
scoring_data.loc[104, 'Team_A'] = 0
scoring_data.loc[106, 'Team_A'] = 0
scoring_data.loc[109, 'Team_A'] = 3
scoring_data.loc[110, 'Team_A'] = 3

In [38]:
scoring_data[scoring_data['Team_B']=='E']

         Transition Team_A Team_B
44   ('Ai0', 'Bi3')      3      E
109  ('Ai1', 'Af3')      3      E
110  ('Ai3', 'Af3')      3      E

In [39]:
scoring_data.loc[44, 'Team_B'] = 0
scoring_data.loc[109, 'Team_B'] = 0
scoring_data.loc[110, 'Team_B'] = 0

In [40]:
scoring_data.to_excel('Transitions_and_scores_v2.xlsx', index=False)

C:\Users\mdona\AppData\Local\Temp/ipykernel_13092/3189025004.py:1: UserWarning: Pandas requires version '3.0.3' or newer of 'xlsxwriter' (version '3.0.1' currently installed).
  scoring_data.to_excel('Transitions_and_scores_v2.xlsx', index=False)

In [41]:
scoring_data = pd.read_excel("Transitions_and_scores_v2.xlsx")

In [43]:
scoring_data['Transition']=[tuple(y) for y in list(map( lambda x: x.strip("()").replace("'", "").split(", "), scoring_data['Transition']))]

In [44]:
test_game = pd.read_excel('games_with_states/6197002_Play-By-Play for Colgate vs Weber St..xlsx')

In [45]:
first_half = test_game[test_game['Period']==1].copy()

In [46]:
first_half

   State   Time  Period
0    Bi0  20:00       1
1    Ai3  19:36       1
2    Ar0  19:04       1
3    Ar0  18:42       1
4    Br0  18:42       1
..   ...    ...     ...
66   Ai2  01:30       1
67   Br0  01:03       1
68   Ar0  00:39       1
69   Ar0  00:04       1
70   Bi3  00:03       1

[71 rows x 3 columns]

In [58]:

#just take play, not timestamp
smaller_list = list(first_half['State'])
#that means rather than this logic, we should count the transitions in here

# curr_half = pd.DataFrame(smaller_list, columns = ['State','Time'])
# curr_half['Period']=i+1
# final_game = pd.concat([final_game,curr_half])

list_of_pairs = [tuple(smaller_list[j:j+2]) for j in range(len(smaller_list)-1)]

In [59]:
scoring_data

     Transition  Team_A  Team_B
0    (Bi0, Ai3)       0       3
1    (Ai3, Ar0)       0       0
2    (Ar0, Ar0)       0       0
3    (Ar0, Br0)       0       0
4    (Br0, Ar0)       0       0
..          ...     ...     ...
319  (Bf3, Bi3)       0       0
320  (Bf3, Bf0)       0       0
321  (Bf3, Bf1)       0       0
322  (Bf3, Bf2)       0       0
323  (Bf3, Bf3)       0       0

[324 rows x 3 columns]

In [60]:
game_df = pd.DataFrame(columns=['Transition','Team_A','Team_B'])

In [61]:
for p in list_of_pairs:
    play_data = scoring_data[scoring_data['Transition']==p].copy()
    game_df=pd.concat([game_df, play_data])

In [62]:
game_df['Team_A_total'] = game_df['Team_A'].cumsum()
game_df['Team_B_total'] = game_df['Team_B'].cumsum()

In [74]:
game_df.tail()

    Transition Team_A Team_B Team_A_total Team_B_total
37  (Bi0, Ai2)      0      2           23           20
36  (Ai2, Br0)      0      0           23           20
4   (Br0, Ar0)      0      0           23           20
2   (Ar0, Ar0)      0      0           23           20
5   (Ar0, Bi3)      3      0           26           20

In [ ]:
#only issue happened is that team A scored 28 - a double turnover at same timestamp was missed. that is ok

In [76]:
second_half = test_game[test_game['Period']==2].copy()

In [77]:

#just take play, not timestamp
smaller_list = list(second_half['State'])
#that means rather than this logic, we should count the transitions in here

# curr_half = pd.DataFrame(smaller_list, columns = ['State','Time'])
# curr_half['Period']=i+1
# final_game = pd.concat([final_game,curr_half])

list_of_pairs = [tuple(smaller_list[j:j+2]) for j in range(len(smaller_list)-1)]

In [78]:
game_df_2 = pd.DataFrame(columns=['Transition','Team_A','Team_B'])

In [79]:
for p in list_of_pairs:
    play_data = scoring_data[scoring_data['Transition']==p].copy()
    game_df_2=pd.concat([game_df_2, play_data])

In [80]:
game_df_2['Team_A_total'] = game_df_2['Team_A'].cumsum()
game_df_2['Team_B_total'] = game_df_2['Team_B'].cumsum()

In [82]:
game_df_2.tail()

     Transition Team_A Team_B Team_A_total Team_B_total
56   (Br0, Bf2)      0      2           28           34
57   (Bf2, Ai1)      0      1           28           35
142  (Ai1, Af1)      0      0           28           35
58   (Af1, Br0)      0      0           28           35
4    (Br0, Ar0)      0      0           28           35

In [83]:
# logic produced final score of colgate 54 WS 55
# actual final score 57-55
#that's pretty close. Can improve upon this in far future iterations.

In [84]:
test_game_2 = pd.read_excel('games_with_states/6197003_Play-By-Play for Drake vs Oakland.xlsx')

In [85]:
game_df_3 = pd.DataFrame(columns=['Transition','Team_A','Team_B'])
for half in [1,2]:
    curr_half=test_game_2[test_game_2['Period']==half].copy()
    
    #just take play, not timestamp
    smaller_list = list(curr_half['State'])
    #that means rather than this logic, we should count the transitions in here

    # curr_half = pd.DataFrame(smaller_list, columns = ['State','Time'])
    # curr_half['Period']=i+1
    # final_game = pd.concat([final_game,curr_half])

    list_of_pairs = [tuple(smaller_list[j:j+2]) for j in range(len(smaller_list)-1)]

    for p in list_of_pairs:
        play_data = scoring_data[scoring_data['Transition']==p].copy()
        game_df_3=pd.concat([game_df_3, play_data])

In [86]:
game_df_3['Team_A_total'] = game_df_3['Team_A'].cumsum()
game_df_3['Team_B_total'] = game_df_3['Team_B'].cumsum()

In [87]:
game_df_3

    Transition Team_A Team_B Team_A_total Team_B_total
31  (Bi0, Ar0)      0      0            0            0
3   (Ar0, Br0)      0      0            0            0
20  (Br0, Ai2)      0      2            0            2
36  (Ai2, Br0)      0      0            0            2
7   (Br0, Ai3)      0      3            0            5
..         ...    ...    ...          ...          ...
58  (Af1, Br0)      0      0           84           77
4   (Br0, Ar0)      0      0           84           77
13  (Ar0, Af0)      0      0           84           77
14  (Af0, Af1)      1      0           85           77
58  (Af1, Br0)      0      0           85           77

[198 rows x 5 columns]

In [88]:
#got this one right

In [89]:
test_game_2 = pd.read_excel('games_with_states/6197004_Play-By-Play for Utah Valley vs Southern Miss..xlsx')

In [90]:
game_df_3 = pd.DataFrame(columns=['Transition','Team_A','Team_B'])
for half in [1,2]:
    curr_half=test_game_2[test_game_2['Period']==half].copy()
    
    #just take play, not timestamp
    smaller_list = list(curr_half['State'])
    #that means rather than this logic, we should count the transitions in here

    # curr_half = pd.DataFrame(smaller_list, columns = ['State','Time'])
    # curr_half['Period']=i+1
    # final_game = pd.concat([final_game,curr_half])

    list_of_pairs = [tuple(smaller_list[j:j+2]) for j in range(len(smaller_list)-1)]

    for p in list_of_pairs:
        play_data = scoring_data[scoring_data['Transition']==p].copy()
        game_df_3=pd.concat([game_df_3, play_data])

In [91]:
game_df_3['Team_A_total'] = game_df_3['Team_A'].cumsum()
game_df_3['Team_B_total'] = game_df_3['Team_B'].cumsum()

In [92]:
game_df_3

    Transition Team_A Team_B Team_A_total Team_B_total
37  (Bi0, Ai2)      0      2            0            2
36  (Ai2, Br0)      0      0            0            2
4   (Br0, Ar0)      0      0            0            2
5   (Ar0, Bi3)      3      0            3            2
27  (Bi3, Ar0)      0      0            3            2
..         ...    ...    ...          ...          ...
61  (Ai2, Bi3)      3      0           62           61
51  (Bi3, Bf0)      0      0           62           61
33  (Bf0, Bf0)      0      0           62           61
42  (Bf0, Ai1)      0      1           62           62
48  (Ai1, Br0)      0      0           62           62

[214 rows x 5 columns]

In [93]:
#shouldve been 67-65

In [95]:
test_game_2 = pd.read_excel('games_with_states/6197005_Play-By-Play for SFA vs LMU (CA).xlsx')

In [96]:
game_df_3 = pd.DataFrame(columns=['Transition','Team_A','Team_B'])
for half in [1,2]:
    curr_half=test_game_2[test_game_2['Period']==half].copy()
    
    #just take play, not timestamp
    smaller_list = list(curr_half['State'])
    #that means rather than this logic, we should count the transitions in here

    # curr_half = pd.DataFrame(smaller_list, columns = ['State','Time'])
    # curr_half['Period']=i+1
    # final_game = pd.concat([final_game,curr_half])

    list_of_pairs = [tuple(smaller_list[j:j+2]) for j in range(len(smaller_list)-1)]

    for p in list_of_pairs:
        play_data = scoring_data[scoring_data['Transition']==p].copy()
        game_df_3=pd.concat([game_df_3, play_data])

In [97]:
game_df_3['Team_A_total'] = game_df_3['Team_A'].cumsum()
game_df_3['Team_B_total'] = game_df_3['Team_B'].cumsum()

In [98]:
game_df_3

    Transition Team_A Team_B Team_A_total Team_B_total
31  (Bi0, Ar0)      0      0            0            0
3   (Ar0, Br0)      0      0            0            0
4   (Br0, Ar0)      0      0            0            0
3   (Ar0, Br0)      0      0            0            0
7   (Br0, Ai3)      0      3            0            3
..         ...    ...    ...          ...          ...
13  (Ar0, Af0)      0      0           84           76
14  (Af0, Af1)      1      0           85           76
15  (Af1, Bi1)      1      0           86           76
40  (Bi1, Ar0)      0      0           86           76
3   (Ar0, Br0)      0      0           86           76

[226 rows x 5 columns]

In [ ]:
#got this one right